
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.admin-dashboard-XWM {
  box-sizing: border-box;
  padding: 4.6rem 50.5rem;
  width: 100%;
  height: 102.4rem;
  overflow: hidden;
  position: relative;
  background-color: #bfbaf8;

  .admin-dashboard-Teu {
    box-sizing: border-box;
    padding: 6.8rem 3.4rem 21.5rem 3.4rem;
    width: 100%;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    height: 100%;
    position: relative;
    display: flex;
    background-color: #ffffff;

    .auto-group-sklh-yNM {
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 11.9rem;
      width: 100%;
      height: 2.8rem;
      display: flex;

      .group-56-v2h {
        flex-shrink: 0;
        margin-right: 16.4rem;
        height: 100%;
        display: flex;
        align-items: flex-end;

        .menu-4eh {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.7rem;
          width: 2.8rem;
          height: 2.8rem;
          cursor: pointer;
          object-fit: contain;
        }
        .hello-admin-zYM {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.2175;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
        }
      }
      .bell-vB7 {
        width: 2.8rem;
        height: 2.8rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .frame-91-rqT {
      row-gap: 5rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0 0.6rem;
      width: calc(100% - 1.2rem);

      .approval-amT {
        cursor: pointer;
        position: relative;
        flex-shrink: 0;
        width: 100%;
        height: 13.4rem;

        .rectangle-2-w6D {
          width: 35rem;
          height: 13.3695rem;
          position: absolute;
          left: 0;
          top: 0;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.400000006);
          background-color: #ffffff;
          border-radius: 1rem;
        }
        .family-rafiki-1-eFX {
          width: 24.8219rem;
          height: 12.1rem;
          position: relative;
          top: 1.3rem;
          background-size: 75.405% 155.947%;
          background-position: 6.057rem -1.3736rem;
          left: 9.451rem;
          background-image: url('REPLACE_IMAGE:c62781c79251312161c352659c07a97f8b93f43c');
          border-radius: 2.4rem;
        }
        .for-approval-hDo {
          width: 10.1rem;
          position: absolute;
          top: 10.4rem;
          font-size: 1.5rem;
          font-weight: 700;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          height: 1.9rem;
          left: 3.9466rem;
          line-height: 1.2175;
          white-space: nowrap;
        }
      }
      .parent-zTo {
        cursor: pointer;
        position: relative;
        flex-shrink: 0;
        width: 100%;
        height: 13.4rem;

        .rectangle-2-jgH {
          border-radius: 1rem;
          width: 35rem;
          height: 13.3695rem;
          position: absolute;
          left: 0;
          top: 0;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.400000006);
          background-color: #ffffff;
        }
        .family-rafiki-1-f49 {
          left: 9.451rem;
          background-size: 75.405% 155.947%;
          background-position: 6.057rem -1.3736rem;
          background-image: url('REPLACE_IMAGE:f975160f2023bf8da2957ceb43327502feffbd78');
          height: 12.1rem;
          position: relative;
          top: 1.3rem;
          border-radius: 2.4rem;
          width: 24.8219rem;
        }
        .view-parent-k5b {
          font-family: Montserrat, 'Source Sans Pro';
          position: absolute;
          left: 3.9466rem;
          font-size: 1.5rem;
          font-weight: 700;
          color: #000000;
          white-space: nowrap;
          width: 9.6rem;
          height: 1.9rem;
          top: 10.4rem;
          line-height: 1.2175;
        }
      }
      .child-34h {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.39rem 1.429rem 1.39rem 3.98rem;
        width: 100%;
        cursor: pointer;
        display: flex;
        align-items: flex-end;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.400000006);
        background-color: #ffffff;
        border-radius: 1rem;

        .view-child-ZYq {
          font-weight: 700;
          line-height: 1.2175;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0.582rem 0.085rem 0rem;
          font-size: 1.5rem;
        }
        .kids-studying-from-home-pana-1-5XB {
          border-radius: 2.4rem;
          flex-shrink: 0;
          width: 20.5102rem;
          height: 10.6207rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
    }
  }
}
