
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.calling-child-Rmw {
  box-sizing: border-box;
  padding: 4.6rem 50.5rem;
  width: 100%;
  height: 102.4rem;
  overflow: hidden;
  position: relative;
  background-color: #c0baf9;

  .video-calling-child-ZdF {
    box-sizing: border-box;
    padding: 12.6rem 11.9rem 10.2rem 11rem;
    background-color: rgba(109, 106, 106, 0.5);
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    .child-pic-55o {
      box-sizing: border-box;
      background-repeat: no-repeat;
      border: solid 0.2rem #ffffff;
      background-size: 100% 100%;
      background-position: center;
      background-image: url('REPLACE_IMAGE:434f86418c93386bbe5937855c3435315c9eca54');
      border-radius: 7.5rem;
      margin: 0rem 2.1rem 0rem 3rem;
      width: calc(100% - 5.1rem);
      height: 15rem;
      flex-shrink: 0;
    }
    .calling-laica-XyP {
      flex-shrink: 0;
      margin: 0rem 3.8rem 18.3rem 4.7rem;
      width: calc(100% - 8.5rem);
      align-items: center;
      display: flex;
      flex-direction: column;

      .laica-GAH {
        font-size: 4.5rem;
        font-weight: 900;
        line-height: 1.26;
        color: #ffffff;
        font-family: Outfit, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .calling-PVo {
        font-weight: 500;
        line-height: 1.2175;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 0.1rem;
        font-size: 1.2rem;
      }
    }
    .buttons-7gh {
      flex-direction: column;
      flex-shrink: 0;
      width: 100%;
      align-items: center;
      display: flex;

      .auto-group-wwst-5Nd {
        width: calc(100% - 0.9rem);
        height: 7.8rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 0rem 4.5rem 0.9rem;

        .btn-mute-PPK {
          margin-right: 7.2rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-jfdf-wQq {
            height: 6rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.3rem;
            width: 6rem;
          }
          .mute-frd {
            margin-right: 0.2rem;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.2175;
            color: #ffffff;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .btn-chat-19o {
          flex-shrink: 0;
          width: 6rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;

          .auto-group-xysf-A2h {
            padding: 1.5rem 1.367rem 1.5rem 1.3rem;
            width: 100%;
            background-color: rgba(201, 201, 201, 0.6999999881);
            border-radius: 3rem;
            flex-shrink: 0;
            margin-bottom: 0.3rem;
            box-sizing: border-box;

            .vector-sSu {
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
              width: 3.3333rem;
            }
          }
          .chat-Pg9 {
            line-height: 1.2175;
            color: #ffffff;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 0.3rem;
            font-size: 1.2rem;
            font-weight: 500;
          }
        }
      }
      .auto-group-fw3p-XXT {
        margin-bottom: 3.4rem;
        width: 100%;
        height: 8.1rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .btn-vieocall-UBo {
          cursor: pointer;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 6rem;
          width: 8.1rem;
          height: 100%;

          .auto-group-wrw3-cYu {
            width: calc(100% - 2.1rem);
            background-color: rgba(201, 201, 201, 0.6999999881);
            border-radius: 3rem;
            flex-shrink: 0;
            margin: 0rem 1.2rem 0.6rem 0.9rem;
            box-sizing: border-box;
            padding: 1.3rem 1.3rem 1.2rem 1.2rem;

            .fluent-video-20-filled-i69 {
              width: 3.5rem;
              height: 3.5rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .video-RmF {
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.2175;
            color: #ffffff;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .btn-spkr-mKK {
          width: 6rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-pmed-Wnh {
            flex-shrink: 0;
            margin-bottom: 0.3rem;
            box-sizing: border-box;
            padding: 1.8rem 1.605rem 1.7rem 1.7rem;
            width: 100%;
            background-color: rgba(201, 201, 201, 0.6999999881);
            border-radius: 3rem;

            .vector-3Xj {
              width: 2.6953rem;
              height: 2.5rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .speaker-aGm {
            font-weight: 500;
            line-height: 1.2175;
            color: #ffffff;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 0.2rem;
            font-size: 1.2rem;
          }
        }
      }
      .btn-end-6ku {
        vertical-align: top;
        flex-shrink: 0;
        margin-left: 0.9rem;
        width: 6rem;
        height: 6.1rem;
        cursor: pointer;
        position: relative;
        object-fit: contain;
      }
    }
  }
}
