
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.chat-child-BFj {
  padding: 4.6rem 50.5rem;
  width: 100%;
  height: 102.4rem;
  overflow: hidden;
  position: relative;
  background-color: #c0baf9;
  box-sizing: border-box;

  .chat-child-WYu {
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 3.4rem 1.5rem 2.6rem 1.5rem;
    width: 100%;
    position: relative;
    height: 100%;
    overflow: hidden;
    display: flex;

    .auto-group-nnku-2GM {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 20.2rem 2.3rem 0rem;
      display: flex;

      .caret-left-xA1 {
        height: 3.5rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.5rem 0.9rem 0rem 0rem;
        width: 3.5rem;
      }
      .child-pic-4iq {
        flex-shrink: 0;
        margin-right: 1.6rem;
        width: 6rem;
        height: 6rem;
        border: solid 0.2rem #ffffff;
        background-image: url('REPLACE_IMAGE:434f86418c93386bbe5937855c3435315c9eca54');
        border-radius: 3rem;
        box-sizing: border-box;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
      }
      .laica-B2m {
        font-size: 3rem;
        font-weight: 900;
        line-height: 1.26;
        color: #7974b0;
        font-family: Outfit, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .chat-1-uUZ {
      height: 10rem;
      background-color: #7974b0;
      border-radius: 3rem;
      flex-shrink: 0;
      margin: 0rem 0rem 3.3rem 8.6rem;
      box-sizing: border-box;
      padding: 1.9rem 1.6rem 1.2rem 1.8rem;
      width: 28.8rem;

      .calling-p5j {
        font-weight: 500;
        line-height: 1.2175;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
        max-width: 25.4rem;
        font-size: 1.4rem;
      }
    }
    .chat-2-veZ {
      background-color: #6c64c4;
      border-radius: 3rem;
      flex-shrink: 0;
      margin: 0rem 14.6rem 3.2rem 0rem;
      box-sizing: border-box;
      padding: 1.5rem 3rem 1.7rem 2.1rem;
      width: 23.4rem;
      height: 8.4rem;

      .calling-2Sh {
        max-width: 18.3rem;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.2175;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
      }
    }
    .chat-3-9GR {
      padding: 1.6rem 1.8rem 2.3rem 1.6rem;
      width: 19.9rem;
      height: 7.4rem;
      background-color: #7974b0;
      border-radius: 3rem;
      flex-shrink: 0;
      margin: 0rem 0rem 3.2rem 17.5rem;
      box-sizing: border-box;

      .calling-E2y {
        max-width: 16.5rem;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.2175;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
      }
    }
    .chat-4-Vjb {
      margin: 0rem 14.6rem 29.4rem 0rem;
      box-sizing: border-box;
      padding: 1.5rem 3.2rem 1.1rem 2.1rem;
      width: 23.4rem;
      background-color: #6c64c4;
      border-radius: 3rem;
      flex-shrink: 0;

      .calling-jtq {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.2175;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
        margin-bottom: 0.2999rem;
        max-width: 18.1rem;
      }
      .bi-emoji-kiss-TK3 {
        width: 2rem;
        height: 2rem;
        object-fit: contain;
        vertical-align: top;
        margin-left: 0.5002rem;
      }
    }
    .type-message-a8m {
      flex-shrink: 0;
      box-sizing: border-box;
      padding-left: 1.3rem;
      height: 5.6rem;
      align-items: center;
      border-radius: 1.5rem;
      width: 100%;
      display: flex;
      background-color: #7974b0;

      .calling-78h {
        flex-shrink: 0;
        margin-right: 9.1rem;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.2175;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-wnpx-ePX {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.3rem 1.6rem 1.247rem 1.646rem;
        height: 100%;
        background-color: #8f8cb0;
        border-radius: 1.5rem;

        .tabler-send-ywb {
          width: 3.0535rem;
          height: 3.0535rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
  }
}
