
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.content-ax5 {
  background-color: #c0baf9;
  box-sizing: border-box;
  padding: 4.6rem 50.5rem;
  width: 100%;
  height: 102.4rem;
  overflow: hidden;
  position: relative;

  .content-W53 {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;

    .apps-3qf {
      top: 25.1rem;
      width: 33.6rem;
      height: 122.4rem;
      position: absolute;
      left: 5.1rem;

      .blocked-apps-aKo {
        margin-bottom: 2rem;
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 1.26;
        color: #000000;
        font-family: Outfit, 'Source Sans Pro';
        white-space: nowrap;
      }
      .frame-92-VxZ {
        width: 33.2rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-left: 0.4rem;

        .auto-group-vjdb-Scu {
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 3.6rem;
          width: 100%;
          height: 106rem;
          row-gap: 3.6rem;
          display: flex;

          .app1-ZSd {
            display: flex;
            align-items: center;
            border-radius: 0.8rem;
            flex-shrink: 0;
            margin-right: 14.7rem;
            width: calc(100% - 14.7rem);

            .rectangle-54-Jv1 {
              margin-right: 2.5rem;
              width: 7rem;
              height: 7rem;
              object-fit: contain;
              vertical-align: top;
              border-radius: 0.8rem;
              flex-shrink: 0;
            }
            .robloxcom-EHs {
              line-height: 1.2175;
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 1.9rem;
              font-size: 1.5rem;
              font-weight: 500;
            }
          }
          .app2-9Qq {
            display: flex;
            align-items: center;
            border-radius: 0.8rem;
            flex-shrink: 0;
            margin-right: 18.7rem;
            width: calc(100% - 18.7rem);

            .rectangle-58-ttD {
              border-radius: 0.8rem;
              flex-shrink: 0;
              margin-right: 2.6rem;
              width: 7rem;
              height: 7rem;
              object-fit: cover;
              vertical-align: top;
            }
            .tinder-Rt9 {
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 1.9rem;
              font-size: 1.5rem;
              font-weight: 500;
              line-height: 1.2175;
            }
          }
          .app3-xdB {
            margin-right: 13.7rem;
            width: calc(100% - 13.7rem);
            display: flex;
            align-items: center;
            border-radius: 0.8rem;
            flex-shrink: 0;

            .rectangle-59-uoK {
              width: 7rem;
              height: 7rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 0.8rem;
              flex-shrink: 0;
              margin-right: 2.6rem;
            }
            .omeglecom-3ed {
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 1.9rem;
              font-size: 1.5rem;
              font-weight: 500;
              line-height: 1.2175;
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
            }
          }
          .app4-ADT {
            margin-right: 9.2rem;
            width: calc(100% - 9.2rem);
            display: flex;
            align-items: center;
            border-radius: 0.8rem;
            flex-shrink: 0;

            .rectangle-60-Wo7 {
              width: 7rem;
              height: 7rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 0.8rem;
              flex-shrink: 0;
              margin-right: 2.6rem;
            }
            .call-of-duty-mobile-ePX {
              line-height: 1.2175;
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 1.9rem;
              font-size: 1.5rem;
              font-weight: 500;
            }
          }
          .app5-mj3 {
            margin-right: 16.2rem;
            width: calc(100% - 16.2rem);
            display: flex;
            align-items: center;
            border-radius: 0.8rem;
            flex-shrink: 0;

            .rectangle-61-L1T {
              border-radius: 0.8rem;
              flex-shrink: 0;
              margin-right: 2.5rem;
              width: 7rem;
              height: 7rem;
              object-fit: cover;
              vertical-align: top;
            }
            .bigo-live-4TF {
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 1.9rem;
              font-size: 1.5rem;
              font-weight: 500;
              line-height: 1.2175;
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
            }
          }
          .app1-aRb {
            flex-shrink: 0;
            margin-right: 14.7rem;
            width: calc(100% - 14.7rem);
            display: flex;
            align-items: center;
            border-radius: 0.8rem;

            .rectangle-54-w1F {
              margin-right: 2.5rem;
              width: 7rem;
              height: 7rem;
              object-fit: contain;
              vertical-align: top;
              border-radius: 0.8rem;
              flex-shrink: 0;
            }
            .robloxcom-sQh {
              margin-top: 1.9rem;
              font-size: 1.5rem;
              font-weight: 500;
              line-height: 1.2175;
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .app2-oJM {
            margin-right: 18.7rem;
            width: calc(100% - 18.7rem);
            display: flex;
            align-items: center;
            border-radius: 0.8rem;
            flex-shrink: 0;

            .rectangle-58-Ymj {
              margin-right: 2.6rem;
              width: 7rem;
              height: 7rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 0.8rem;
              flex-shrink: 0;
            }
            .tinder-4zy {
              font-weight: 500;
              line-height: 1.2175;
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 1.9rem;
              font-size: 1.5rem;
            }
          }
          .app3-PnM {
            display: flex;
            align-items: center;
            border-radius: 0.8rem;
            flex-shrink: 0;
            margin-right: 13.7rem;
            width: calc(100% - 13.7rem);

            .rectangle-59-LxV {
              width: 7rem;
              height: 7rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 0.8rem;
              flex-shrink: 0;
              margin-right: 2.6rem;
            }
            .omeglecom-5fB {
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 1.9rem;
              font-size: 1.5rem;
              font-weight: 500;
              line-height: 1.2175;
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
            }
          }
          .app4-p6y {
            margin-right: 9.2rem;
            width: calc(100% - 9.2rem);
            display: flex;
            align-items: center;
            border-radius: 0.8rem;
            flex-shrink: 0;

            .rectangle-60-Agd {
              margin-right: 2.6rem;
              width: 7rem;
              height: 7rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 0.8rem;
              flex-shrink: 0;
            }
            .call-of-duty-mobile-J29 {
              font-size: 1.5rem;
              font-weight: 500;
              line-height: 1.2175;
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 1.9rem;
            }
          }
          .app5-Deu {
            display: flex;
            align-items: center;
            border-radius: 0.8rem;
            flex-shrink: 0;
            margin-right: 16.2rem;
            width: calc(100% - 16.2rem);

            .rectangle-61-yPB {
              object-fit: cover;
              vertical-align: top;
              border-radius: 0.8rem;
              flex-shrink: 0;
              margin-right: 2.5rem;
              width: 7rem;
              height: 7rem;
            }
            .bigo-live-WP7 {
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 1.9rem;
              font-size: 1.5rem;
              font-weight: 500;
              line-height: 1.2175;
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
            }
          }
        }
        .rectangle-76-dyX {
          width: 100%;
          height: 11.2rem;
          background-color: #ffffff;
          flex-shrink: 0;
        }
      }
    }
    .form-field-Bk9 {
      width: 36.5rem;
      position: absolute;
      top: 12.1rem;
      height: 6.1rem;
      cursor: pointer;
      left: 3.2rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .auto-group-ffth-6s7 {
        height: 6.1rem;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;
        width: 100%;

        .auto-group-ycz3-3XT {
          width: 34.5rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .left-Q77 {
            vertical-align: top;
            border-radius: 2rem;
            width: 2rem;
            height: 5.5rem;
            position: absolute;
            left: 0;
            top: 0.6rem;
            object-fit: contain;
          }
          .big-label-8Yu {
            width: 30rem;
            height: 2.5rem;
            position: absolute;
            left: 2.1rem;
            font-weight: 400;
            white-space: nowrap;
            top: 2.1rem;
            font-size: 2rem;
            line-height: 1.2175;
            color: #000000;
            font-family: Montserrat, 'Source Sans Pro';
          }
          .top-part-dkZ {
            position: absolute;
            left: 1.5rem;
            top: 0;
            width: 33rem;
            height: 1.3rem;

            .small-label-AkV {
              line-height: 1.2175;
              white-space: nowrap;
              width: 15.8rem;
              height: 1.3rem;
              position: absolute;
              font-size: 1rem;
              font-weight: 700;
              left: 0;
              top: 0;
              font-family: Montserrat, 'Source Sans Pro';
            }
            .top-Tjb {
              width: 33rem;
              height: 0;
              position: absolute;
              left: 0;
              top: 0.6rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
        .right-o2m {
          object-fit: contain;
          vertical-align: top;
          border-radius: 2rem;
          flex-shrink: 0;
          width: 2rem;
          height: 5.5rem;
        }
      }
      .bottom-LYV {
        width: 32.5rem;
        height: 0;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .swipeable-edge-container-5ky {
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
      box-sizing: border-box;
      padding-top: 77.2rem;
      width: 43rem;
      height: 93.2rem;

      .swipeable-edge-pCm {
        box-sizing: border-box;
        height: 52.1rem;
        flex-direction: column;
        border-radius: 2.4rem 2.4rem 0 0;
        box-shadow: 0 -1.2rem 4.4rem rgba(0, 0, 0, 0.1199999973);
        padding: 1.7rem 15.7rem 22.3rem 16.5rem;
        width: 100%;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        align-items: center;
        display: flex;
        background-color: #ffffff;

        .rectangle-72-X7B {
          background-color: rgba(0, 0, 0, 0.400000006);
          border-radius: 1rem;
          flex-shrink: 0;
          margin: 0rem 1.7rem 4.9rem 0.8rem;
          width: calc(100% - 2.5rem);
          height: 0.6rem;
        }
        .activity-timeline-35X {
          margin-bottom: 3.7rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2175;
          color: #6c64c4;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .alerts-0-ZZf {
          flex-shrink: 0;
          margin-bottom: 14.4rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2175;
          color: #6c64c4;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
        }
        .no-activity-found-52D {
          flex-shrink: 0;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2175;
          color: #6c64c4;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .swipeable-top-container-MVX {
      width: 43rem;
      height: 91.7rem;
      position: absolute;
      left: 0;
      top: 0;

      .bg-J9s {
        left: 0;
        top: 56.2rem;
        background-color: rgba(0, 0, 0, 0.200000003);
        width: 43rem;
        height: 35.5rem;
        cursor: pointer;
        position: absolute;
      }
      .swipeable-top-RVP {
        box-sizing: border-box;
        width: 43rem;
        height: 61rem;
        box-shadow: -1.2rem 0 4.4rem rgba(0, 0, 0, 0.1199999973);
        cursor: pointer;
        left: 0;
        overflow: hidden;
        align-items: center;
        display: flex;
        border-radius: 0 0 2.4rem 2.4rem;
        padding: 7.2rem 4.2rem 2.6rem 4.2rem;
        position: absolute;
        top: 0;
        flex-direction: column;
        background-color: #ffffff;

        .top-interface-izH {
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 11.2rem;
          box-sizing: border-box;
          padding-top: 0.3333rem;
          width: 100%;
          align-items: center;
          display: flex;

          .auto-group-bxuj-rqb {
            font-size: 2.5rem;
            line-height: 1.26;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-top: 0.4667rem;
            width: 34.1rem;
            font-family: Outfit, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0.5rem 3.1rem 0rem;
            font-weight: 400;
            color: #000000;
          }
          .auto-group-7vps-M1f {
            margin: 0rem 5.8rem 1.8rem 0rem;
            width: calc(100% - 5.8rem);
            display: flex;
            align-items: flex-end;
            flex-shrink: 0;

            .child-pic-5iM {
              margin-right: 3.9749rem;
              width: 9.5251rem;
              height: 9.5rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .auto-group-drok-RXK {
              margin-bottom: 0.1rem;
              width: 15.3rem;
              flex-shrink: 0;

              .btn-call-mLH {
                box-sizing: border-box;
                padding: 0.25rem 0rem 0.25rem 0.251rem;
                width: calc(100% - 5.1rem);
                cursor: pointer;
                display: flex;
                align-items: center;
                margin: 0rem 5.1rem 2rem 0rem;

                .ion-call-gCM {
                  margin-right: 3.3499rem;
                  width: 3.4993rem;
                  height: 3.5rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .call-RQq {
                  line-height: 1.26;
                  color: #000000;
                  font-family: Outfit, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-top: 0.2999rem;
                  font-size: 1.8rem;
                  font-weight: 400;
                }
              }
              .btn-vcall-x9s {
                align-items: center;
                box-sizing: border-box;
                padding: 0.75rem 0rem 0.75rem 0.25rem;
                width: 100%;
                cursor: pointer;
                display: flex;

                .carbon-video-filled-V9o {
                  margin-right: 3.35rem;
                  width: 3.5rem;
                  height: 2.5rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .video-call-Dbb {
                  font-family: Outfit, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-top: 0.1rem;
                  font-size: 1.8rem;
                  font-weight: 400;
                  line-height: 1.26;
                  color: #000000;
                }
              }
            }
          }
          .auto-group-4umb-XsB {
            margin: 0rem 10rem 1.5rem 2.3rem;
            width: calc(100% - 12.3rem);
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .name-rPf {
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 6.4rem;
              font-size: 1.8rem;
              font-weight: 500;
              line-height: 1.2175;
              color: #000000;
            }
            .btn-chat-PPb {
              cursor: pointer;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-top: 0.1rem;
              box-sizing: border-box;
              padding: 0.75rem 0rem 0.25rem 0.375rem;

              .ph-chat-fill-Wj7 {
                height: 3rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 3.475rem;
                width: 3.25rem;
              }
              .chat-Fgh {
                font-family: Outfit, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.6rem;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.26;
                color: #000000;
              }
            }
          }
          .details-aU5 {
            margin: 0rem 0rem 8.1rem 8.3rem;
            cursor: pointer;
            font-size: 1.5rem;
            font-weight: 700;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            line-height: 1.2175;
            font-style: italic;
            color: #fb6e5b;
            flex-shrink: 0;
          }
          .auto-group-1bbk-5vd {
            margin: 0rem 0.5rem 0rem 0.3rem;
            width: calc(100% - 0.8rem);
            height: 4.8rem;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .loc-bty {
              width: 4rem;
              height: 4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 2rem;
            }
            .auto-group-slyu-kWy {
              flex-direction: column;
              flex-shrink: 0;
              margin-right: 2.3rem;
              height: 100%;
              display: flex;

              .pajo-lapu-lapu-city-cebu-6aq {
                flex-shrink: 0;
                margin-bottom: 0.5rem;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.26;
                color: #000000;
                font-family: Outfit, 'Source Sans Pro';
                white-space: nowrap;
              }
              .phone-bat-cp5 {
                flex-shrink: 0;
                box-sizing: border-box;
                padding-top: 0.1rem;
                display: flex;
                align-items: center;

                .details-AKo {
                  line-height: 1.2175;
                  color: rgba(0, 0, 0, 0.6999999881);
                  font-family: Montserrat, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-right: 1.2rem;
                  font-size: 1.5rem;
                  font-weight: 400;
                }
                .fluent-battery-3-20-filled-tmb {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 1.1rem 0.1rem 0rem;
                  width: 1.6rem;
                  height: 1rem;
                  object-fit: contain;
                }
                .details-Qzq {
                  color: rgba(0, 0, 0, 0.6999999881);
                  font-family: Montserrat, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.5rem;
                  font-weight: 400;
                  line-height: 1.2175;
                }
              }
            }
            .subway-refresh-time-Ldb {
              margin-top: 0.3rem;
              width: 3rem;
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .rectangle-72-fvm {
          border-radius: 1rem;
          flex-shrink: 0;
          margin: 0rem 13.2rem 0rem 13.1rem;
          width: calc(100% - 26.3rem);
          height: 0.6rem;
          background-color: rgba(0, 0, 0, 0.400000006);
        }
      }
    }
    .btm-nav-content-vrh {
      height: 7rem;
      top: 84.4rem;
      background-color: #ffffff;
      box-shadow: 0.3rem 0.5rem 0.4rem rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      width: 40rem;
      position: absolute;
      left: 1.4rem;
      border-radius: 3.05rem;
      padding: 0 2.9189rem;

      .group-83-Fe5 {
        height: 6.5692rem;
        display: flex;
        align-items: center;
        width: 100%;

        .btn-sms-zrZ {
          display: flex;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.471rem 0rem 0.077rem 0rem;
          cursor: pointer;
          align-items: center;
          flex-direction: column;
          margin: 0.969rem 0.865rem 0.538rem 0rem;
          width: 5.5135rem;
          height: calc(100% - 1.5077rem);

          .fluent-people-team-24-filled-gUV {
            flex-shrink: 0;
            margin-bottom: 0.6865rem;
            width: 3.1531rem;
            height: 2.8269rem;
            object-fit: contain;
            vertical-align: top;
          }
          .social-media-1mf {
            line-height: 1.2175;
            color: #000000;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 0.4135rem;
            font-size: 0.8rem;
            font-weight: 400;
          }
        }
        .crnt-content-LZ3 {
          flex-shrink: 0;
          margin-right: 2.4864rem;
          background-size: cover;
          background-position: center;
          height: 100%;
          background-repeat: no-repeat;
          background-image: url('REPLACE_IMAGE:I11:2309;13:3070');
          box-sizing: border-box;
          padding: 0.754rem 1.405rem 0.838rem 1.297rem;
          width: 6.5946rem;

          .prbtn-content-Tdf {
            padding-top: 0.4594rem;
            width: 100%;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;

            .material-symbols-play-shapes-rounded-ohX {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0rem 0.579rem 0.059rem;
              width: 2.8867rem;
              height: 2.8387rem;
              object-fit: contain;
            }
            .content-KQy {
              line-height: 1.2175;
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 0.1919rem;
              font-size: 0.9rem;
              font-weight: 400;
            }
          }
        }
        .solar-shield-bold-q8R {
          cursor: pointer;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.4308rem;
          width: 3.7838rem;
          height: 3.7692rem;
        }
        .auto-group-qxvd-N8M {
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.969rem 0rem 0.538rem 3.784rem;
          height: 100%;
          display: flex;

          .btn-locator-64M {
            flex-direction: column;
            box-sizing: border-box;
            padding: 0.471rem 0.108rem 0.085rem 0.108rem;
            height: 100%;
            display: flex;
            flex-shrink: 0;
            margin-right: 2.3783rem;
            width: 3.7838rem;
            cursor: pointer;
            align-items: center;

            .majesticons-map-marker-area-line-c2h {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0rem 0.579rem 0rem;
              width: 2.5226rem;
              height: 2.8269rem;
            }
            .locator-j7K {
              margin-right: 0.1676rem;
              font-size: 0.9rem;
              font-weight: 400;
              line-height: 1.2175;
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .btn-sched-4QV {
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            cursor: pointer;
            align-items: center;
            display: flex;
            padding: 0.314rem 0rem 0.077rem 0rem;
            width: 4.9729rem;
            height: 100%;

            .akar-icons-schedule-atd {
              height: 3.141rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0rem 0.529rem 0.108rem;
              width: 3.1531rem;
            }
            .scheduling-iE9 {
              font-size: 0.8rem;
              font-weight: 400;
              line-height: 1.2175;
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 0.3729rem;
            }
          }
        }
      }
    }
  }
}
