
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.parent-print-activities-7pZ {
  padding: 4.6rem 50.5rem;
  width: 100%;
  height: 102.4rem;
  overflow: hidden;
  position: relative;
  background-color: #bfbaf8;
  box-sizing: border-box;

  .parent-print-activities-3iD {
    height: 100%;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5.7rem 0rem 0rem 2rem;
    width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);

    .auto-group-busu-ybs {
      margin: 0rem 2.6rem 3.5rem 1.3rem;
      width: calc(100% - 3.9rem);
      height: 4rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .share-menu-tyj {
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0.6rem 23.5rem 0.7rem 0rem;
        height: calc(100% - 1.3rem);

        .vector-QhB {
          width: 1.8rem;
          height: 2.7rem;
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.5rem;
        }
        .vector-MMX {
          margin-right: 1.3rem;
          width: 2.5rem;
          height: 2.5rem;
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .vector-VyX {
          vertical-align: top;
          flex-shrink: 0;
          width: 2.5rem;
          height: 2.5rem;
          cursor: pointer;
          object-fit: contain;
        }
      }
      .ph-x-bold-FSu {
        width: 4rem;
        height: 4rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .reports-z9b {
      width: 186rem;
      height: 80rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      padding-right: 49rem;

      .child-list-print-format-vJ9 {
        margin-right: 10rem;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        background-color: #fffefe;
        box-sizing: border-box;
        padding: 4.9rem 0.9rem 36.4rem 1.9rem;
        width: 39rem;
        height: 100%;
        align-items: center;

        .apps-and-websites-usage-report-37s {
          line-height: 1.2175;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 0.8rem 4rem 0rem;
          max-width: 20.2rem;
          font-size: 2rem;
          font-weight: 700;
        }
        .vector-8f7 {
          height: 29.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 36.2rem;
        }
      }
      .child-list-print-format-UDB {
        flex-shrink: 0;
        margin-right: 0.2rem;
        width: 48.8rem;
        height: 100%;
        position: relative;

        .bondpaper-zxD {
          top: 0;
          background-color: #fffefe;
          width: 39rem;
          height: 80rem;
          position: absolute;
          left: 0;
        }
        .social-media-monitoring-report-Yiq {
          font-size: 2rem;
          font-weight: 700;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          left: 7.2rem;
          top: 6.8rem;
          position: absolute;
          line-height: 1.2175;
          white-space: nowrap;
          width: 41.6rem;
          height: 2.5rem;
        }
        .vector-3vV {
          position: absolute;
          left: 1.4rem;
          top: 14.9rem;
          object-fit: contain;
          vertical-align: top;
          width: 36.2rem;
          height: 26.3rem;
        }
      }
      .child-list-print-format-Bmo {
        padding: 6.8rem 1.4rem 35.3rem 1.4rem;
        align-items: center;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        width: 39rem;
        height: 100%;
        display: flex;
        background-color: #fffefe;

        .location-report-7QZ {
          line-height: 1.2175;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0.9rem 5.6rem 0rem;
          font-size: 2rem;
          font-weight: 700;
        }
        .vector-SBw {
          width: 36.2rem;
          height: 29.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
  }
}
