
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.parent-forgot-password-ANy {
  height: 102.4rem;
  overflow: hidden;
  position: relative;
  background-color: #bfbaf8;
  box-sizing: border-box;
  padding: 4.6rem 50.5rem;
  width: 100%;

  .forgot-password-JEH {
    padding: 8.7rem 0rem 7.3rem 0rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    position: relative;

    .auto-group-zevb-R41 {
      width: calc(100% - 19.7rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 16.4rem 2.1rem 3.3rem;

      .caret-left-YeR {
        margin-right: 1rem;
        width: 3.5rem;
        height: 3.5rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .forgot-password-tTP {
        font-family: Outfit, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.1rem;
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 1.26;
        color: #000000;
      }
    }
    .family-cuate-1-QRj {
      background-size: 116.279% 150.602%;
      background-position: -2.4rem -6.9rem;
      background-image: url('REPLACE_IMAGE:f0b1194b52412070ed64f049e4b3f6281763babc');
      flex-shrink: 0;
      margin-bottom: 4.6rem;
      width: 43rem;
      height: 33.2rem;
      position: relative;
    }
    .empty-conpass-hQq {
      flex-shrink: 0;
      margin: 0rem 0rem 22.7rem 2.2rem;
      font-size: 1.7rem;
      font-weight: 500;
      line-height: 1.2175;
      color: #000000;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
    }
    .vector-3-d3b {
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 3.5rem;
      width: 35rem;
      height: 0;
      object-fit: contain;
    }
    .group-11-Zhw {
      height: 5.5rem;
      font-weight: 400;
      display: flex;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.400000006);
      background-color: #6c64c4;
      color: #ffffff;
      flex-shrink: 0;
      border-radius: 1rem;
      margin: 0rem 3.3rem 0rem 3.2rem;
      width: calc(100% - 6.5rem);
      font-size: 1.8rem;
      line-height: 1.2175;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      align-items: center;
      cursor: pointer;
      justify-content: center;
    }
  }
}
