
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.print-child-list-ray {
  box-sizing: border-box;
  padding: 4.6rem 50.5rem;
  width: 100%;
  height: 102.4rem;
  overflow: hidden;
  position: relative;
  background-color: #bfbaf8;

  .print-child-list-bHf {
    height: 100%;
    position: relative;
    align-items: center;
    display: flex;
    padding: 5.7rem 2rem 0rem 2rem;
    width: 100%;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    overflow: hidden;

    .auto-group-ulyt-v53 {
      margin: 0rem 0.6rem 5rem 1.3rem;
      width: calc(100% - 1.9rem);
      height: 4rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .share-menu-S3P {
        flex-shrink: 0;
        margin: 0.6rem 23.5rem 0.7rem 0rem;
        height: calc(100% - 1.3rem);
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;

        .vector-ZNu {
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.5rem;
          width: 1.8rem;
          height: 2.7rem;
        }
        .vector-6td {
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.3rem;
          width: 2.5rem;
          height: 2.5rem;
        }
        .vector-qrD {
          height: 2.5rem;
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 2.5rem;
        }
      }
      .ph-x-bold-zDK {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 4rem;
        height: 4rem;
        cursor: pointer;
      }
    }
    .child-list-print-format-jAu {
      display: flex;
      flex-direction: column;
      background-color: #fffefe;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 4.9rem 1.3rem 28.2rem 2.2rem;
      width: 100%;
      align-items: center;

      .child-list-4U5 {
        margin: 0rem 0.3rem 1.1rem 0rem;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.2175;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .vector-NUm {
        width: 35.5rem;
        height: 43.3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
}
