
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.social-media-nbF {
  padding: 4.6rem 50.5rem;
  width: 100%;
  height: 102.4rem;
  overflow: hidden;
  position: relative;
  background-color: #c0baf9;
  box-sizing: border-box;

  .social-media-JpV {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;

    .inside-sm-rr1 {
      position: absolute;
      left: 3.7rem;
      top: 34.1rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 35.6rem;
      height: 37.7rem;

      .sm-an1 {
        display: flex;
        flex-direction: column;
        border-radius: 1.5rem;
        flex-shrink: 0;
        margin-bottom: 7.7rem;
        width: 100%;
        row-gap: 2.3rem;
        align-items: center;

        .sm1-7mw {
          box-sizing: border-box;
          align-items: center;
          flex-shrink: 0;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          border-radius: 1.5rem;
          padding: 2.1rem 3rem 1.9rem 3rem;
          width: 100%;
          display: flex;

          .facebook-monitor-F7T {
            font-weight: 400;
            line-height: 1.2175;
            color: #000000;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.9rem 13.1rem 0rem 0rem;
            font-size: 1.5rem;
          }
          .checkbox-YMT {
            height: 2.7rem;
            cursor: pointer;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            width: 2.8rem;
          }
        }
        .sm3-cMK {
          box-sizing: border-box;
          display: flex;
          align-items: center;
          background-color: #ffffff;
          border-radius: 1.5rem;
          flex-shrink: 0;
          padding: 2.1rem 3rem 1.9rem 3rem;
          width: 100%;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

          .instagram-monitor-w8h {
            margin: 0.9rem 12.7rem 0rem 0rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.2175;
            color: #000000;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .checkbox-qzm {
            cursor: pointer;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            width: 2.8rem;
            height: 2.7rem;
          }
        }
        .sm2-Xch {
          width: 100%;
          display: flex;
          align-items: center;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          border-radius: 1.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.1rem 3rem 1.9rem 3rem;

          .snapchat-monitor-4sX {
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.9rem 13.3rem 0rem 0rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.2175;
            color: #000000;
          }
          .checkbox-bMf {
            height: 2.7rem;
            cursor: pointer;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            width: 2.8rem;
          }
        }
      }
      .icons8-add-50-1-S7P {
        width: 5rem;
        height: 5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .swipeable-edge-container-Yw7 {
      overflow: hidden;
      box-sizing: border-box;
      padding-top: 77.2rem;
      width: 43rem;
      height: 93.2rem;
      position: absolute;
      left: 0;
      top: 0;

      .swipeable-edge-rgu {
        box-shadow: 0 -1.2rem 4.4rem rgba(0, 0, 0, 0.1199999973);
        background-color: #ffffff;
        border-radius: 2.4rem 2.4rem 0 0;
        padding: 1.7rem 15.7rem 22.3rem 16.5rem;
        position: relative;
        align-items: center;
        cursor: pointer;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 100%;
        height: 52.1rem;

        .rectangle-72-8eR {
          width: calc(100% - 2.5rem);
          height: 0.6rem;
          background-color: rgba(0, 0, 0, 0.400000006);
          border-radius: 1rem;
          flex-shrink: 0;
          margin: 0rem 1.7rem 4.9rem 0.8rem;
        }
        .activity-timeline-CuB {
          line-height: 1.2175;
          color: #6c64c4;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 3.7rem;
          font-size: 1.2rem;
          font-weight: 400;
        }
        .alerts-0-isX {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 14.4rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2175;
          color: #6c64c4;
          font-family: Montserrat, 'Source Sans Pro';
        }
        .no-activity-found-3uo {
          flex-shrink: 0;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2175;
          color: #6c64c4;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .swipeable-top-container-Xa5 {
      left: 0;
      top: 0;
      width: 43rem;
      height: 91.7rem;
      position: absolute;

      .bg-55o {
        top: 56.2rem;
        background-color: rgba(0, 0, 0, 0.200000003);
        width: 43rem;
        height: 35.5rem;
        cursor: pointer;
        position: absolute;
        left: 0;
      }
      .swipeable-top-ziZ {
        padding: 7.2rem 4.2rem 2.6rem 4.2rem;
        left: 0;
        box-shadow: -1.2rem 0 4.4rem rgba(0, 0, 0, 0.1199999973);
        height: 61rem;
        cursor: pointer;
        position: absolute;
        display: flex;
        width: 43rem;
        top: 0;
        overflow: hidden;
        align-items: center;
        box-sizing: border-box;
        flex-direction: column;
        background-color: #ffffff;
        border-radius: 0 0 2.4rem 2.4rem;

        .top-interface-uKj {
          margin-bottom: 11.2rem;
          box-sizing: border-box;
          padding-top: 0.3333rem;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-c3zf-dmX {
            margin: 0rem 0.5rem 3.1rem 0rem;
            box-sizing: border-box;
            font-weight: 400;
            color: #000000;
            flex-shrink: 0;
            padding-top: 0.4667rem;
            width: 34.1rem;
            font-size: 2.5rem;
            line-height: 1.26;
            font-family: Outfit, 'Source Sans Pro';
            white-space: nowrap;
          }
          .auto-group-cn13-hmP {
            margin: 0rem 5.8rem 1.8rem 0rem;
            width: calc(100% - 5.8rem);
            display: flex;
            align-items: flex-end;
            flex-shrink: 0;

            .child-pic-Djj {
              width: 9.5251rem;
              height: 9.5rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 3.9749rem;
            }
            .auto-group-bv7f-xBX {
              margin-bottom: 0.1rem;
              width: 15.3rem;
              flex-shrink: 0;

              .btn-call-tqs {
                padding: 0.25rem 0rem 0.25rem 0.251rem;
                width: calc(100% - 5.1rem);
                cursor: pointer;
                display: flex;
                align-items: center;
                margin: 0rem 5.1rem 2rem 0rem;
                box-sizing: border-box;

                .ion-call-Cbf {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 3.3499rem;
                  width: 3.4993rem;
                  height: 3.5rem;
                  object-fit: contain;
                }
                .call-wp9 {
                  font-weight: 400;
                  line-height: 1.26;
                  color: #000000;
                  font-family: Outfit, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-top: 0.2999rem;
                  font-size: 1.8rem;
                }
              }
              .btn-vcall-59f {
                box-sizing: border-box;
                padding: 0.75rem 0rem 0.75rem 0.25rem;
                width: 100%;
                cursor: pointer;
                display: flex;
                align-items: center;

                .carbon-video-filled-1p1 {
                  margin-right: 3.35rem;
                  width: 3.5rem;
                  height: 2.5rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .video-call-9QR {
                  line-height: 1.26;
                  color: #000000;
                  font-family: Outfit, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-top: 0.1rem;
                  font-size: 1.8rem;
                  font-weight: 400;
                }
              }
            }
          }
          .auto-group-wkc5-53B {
            width: calc(100% - 12.3rem);
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;
            margin: 0rem 10rem 1.5rem 2.3rem;

            .name-zvq {
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 6.4rem;
              font-size: 1.8rem;
              font-weight: 500;
              line-height: 1.2175;
              color: #000000;
            }
            .btn-chat-Xvm {
              box-sizing: border-box;
              padding: 0.75rem 0rem 0.25rem 0.375rem;
              cursor: pointer;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-top: 0.1rem;

              .ph-chat-fill-4Qu {
                margin-right: 3.475rem;
                width: 3.25rem;
                height: 3rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .chat-zpM {
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.26;
                color: #000000;
                font-family: Outfit, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.6rem;
              }
            }
          }
          .details-iEZ {
            line-height: 1.2175;
            font-style: italic;
            font-family: Montserrat, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 0rem 8.1rem 8.3rem;
            font-size: 1.5rem;
            font-weight: 700;
            color: #fb6e5b;
            white-space: nowrap;
            cursor: pointer;
          }
          .auto-group-tgar-Dx1 {
            width: calc(100% - 0.8rem);
            height: 4.8rem;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;
            margin: 0rem 0.5rem 0rem 0.3rem;

            .loc-jvM {
              width: 4rem;
              height: 4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 2rem;
            }
            .auto-group-g1h7-4xd {
              margin-right: 2.3rem;
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .pajo-lapu-lapu-city-cebu-ovD {
                flex-shrink: 0;
                margin-bottom: 0.5rem;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.26;
                color: #000000;
                font-family: Outfit, 'Source Sans Pro';
                white-space: nowrap;
              }
              .phone-bat-j3B {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                box-sizing: border-box;
                padding-top: 0.1rem;

                .details-zE1 {
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-right: 1.2rem;
                  font-size: 1.5rem;
                  font-weight: 400;
                  line-height: 1.2175;
                  color: rgba(0, 0, 0, 0.6999999881);
                  font-family: Montserrat, 'Source Sans Pro';
                }
                .fluent-battery-3-20-filled-Kn5 {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 1.1rem 0.1rem 0rem;
                  width: 1.6rem;
                  height: 1rem;
                  object-fit: contain;
                }
                .details-r1K {
                  flex-shrink: 0;
                  font-size: 1.5rem;
                  font-weight: 400;
                  line-height: 1.2175;
                  color: rgba(0, 0, 0, 0.6999999881);
                  font-family: Montserrat, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
            }
            .subway-refresh-time-B3b {
              margin-top: 0.3rem;
              width: 3rem;
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .rectangle-72-7C9 {
          margin: 0rem 13.2rem 0rem 13.1rem;
          width: calc(100% - 26.3rem);
          height: 0.6rem;
          background-color: rgba(0, 0, 0, 0.400000006);
          border-radius: 1rem;
          flex-shrink: 0;
        }
      }
    }
    .btm-nav-sms-yEM {
      padding: 0rem 2.919rem 0rem 2.378rem;
      height: 7rem;
      top: 84.4rem;
      box-sizing: border-box;
      width: 40rem;
      position: absolute;
      left: 1.4rem;
      background-color: #ffffff;
      border-radius: 3.05rem;
      box-shadow: 0.3rem 0.5rem 0.4rem rgba(0, 0, 0, 0.25);

      .group-85-t6R {
        align-items: center;
        width: 100%;
        height: 6.5692rem;
        display: flex;

        .crnt-sms-1wj {
          box-sizing: border-box;
          width: 6.5946rem;
          background-size: cover;
          background-image: url('REPLACE_IMAGE:I11:2269;13:3057');
          padding: 0.969rem 0.954rem 0.615rem 0.541rem;
          height: 100%;
          background-repeat: no-repeat;
          background-position: center;
          flex-shrink: 0;

          .prbtn-sms-jsj {
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            padding-top: 0.4712rem;
            width: 100%;
            height: 100%;
            align-items: center;

            .fluent-people-team-24-filled-gY5 {
              margin: 0rem 0rem 0.687rem 0.413rem;
              width: 3.1531rem;
              height: 2.8269rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .social-media-o6u {
              flex-shrink: 0;
              font-size: 0.8rem;
              font-weight: 400;
              line-height: 1.2175;
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
        .auto-group-ducd-JJZ {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.969rem 0rem 0.215rem 1.622rem;

          .btn-content-dLq {
            box-sizing: border-box;
            width: 4rem;
            flex-shrink: 0;
            margin: 0rem 3.973rem 0.323rem 0rem;
            cursor: pointer;
            align-items: center;
            display: flex;
            flex-direction: column;
            padding: 0.459rem 0rem 0.085rem 0rem;

            .material-symbols-play-shapes-rounded-LW9 {
              height: 2.8387rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0.049rem 0.579rem 0rem;
              width: 2.8867rem;
            }
            .content-Sp5 {
              flex-shrink: 0;
              margin-right: 0.3rem;
              font-size: 0.9rem;
              font-weight: 400;
              line-height: 1.2175;
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .solar-shield-bold-Nhj {
            margin: 0rem 4.068rem 0.323rem 0rem;
            width: 3.3108rem;
            height: 3.3826rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .btn-locator-J5b {
            box-sizing: border-box;
            cursor: pointer;
            align-items: center;
            margin: 0.323rem 2.378rem 0rem 0rem;
            padding: 0.471rem 0.108rem 0.085rem 0.108rem;
            width: 3.7838rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .majesticons-map-marker-area-line-Cgm {
              height: 2.8269rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0rem 0.579rem 0rem;
              width: 2.5226rem;
            }
            .locator-8KX {
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 0.1676rem;
              font-size: 0.9rem;
              font-weight: 400;
              line-height: 1.2175;
              color: #000000;
            }
          }
          .btn-sched-3hP {
            display: flex;
            flex-shrink: 0;
            margin-bottom: 0.3231rem;
            padding: 0.314rem 0rem 0.077rem 0rem;
            align-items: center;
            flex-direction: column;
            box-sizing: border-box;
            width: 4.9729rem;
            cursor: pointer;

            .akar-icons-schedule-An1 {
              margin: 0rem 0rem 0.529rem 0.108rem;
              width: 3.1531rem;
              height: 3.141rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .scheduling-gEZ {
              margin-right: 0.3729rem;
              font-size: 0.8rem;
              font-weight: 400;
              line-height: 1.2175;
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
      }
    }
  }
}
