
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.video-calling-o8q {
  position: relative;
  background-color: #c0baf9;
  box-sizing: border-box;
  padding: 4.6rem 50.5rem;
  width: 100%;
  height: 102.4rem;
  overflow: hidden;

  .video-calling-child-1-joB {
    background-repeat: no-repeat;
    background-image: url('REPLACE_IMAGE:b703c89b5ee5e606f18a26d86e2640bd073dff2e');
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-size: 100% 100%;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    padding: 46.6rem 1.5rem 1rem 1.5rem;
    display: flex;
    flex-direction: column;

    .rectangle-78-fRw {
      border-radius: 1rem;
      flex-shrink: 0;
      margin-bottom: 0.8rem;
      width: 25.6rem;
      height: 36.7rem;
      object-fit: cover;
      vertical-align: top;
    }
    .auto-group-ezmb-BfB {
      box-sizing: border-box;
      padding: 1.5rem 2.1rem 1.5rem 2.9rem;
      width: 100%;
      display: flex;
      align-items: center;
      background-color: #b0afaf;
      border-radius: 3rem;
      flex-shrink: 0;

      .vector-WSZ {
        margin: 0.1rem 6.175rem 0rem 0rem;
        width: 4.7rem;
        height: 3.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .fluent-mic-record-20-filled-EdT {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.35rem 5.763rem 0rem 0rem;
        width: 3.875rem;
        height: 4.25rem;
        object-fit: contain;
      }
      .ion-camera-reverse-9Ed {
        margin: 0.1rem 5.113rem 0rem 0rem;
        width: 4.375rem;
        height: 3.4375rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .btn-end-rPw {
        vertical-align: top;
        flex-shrink: 0;
        width: 5rem;
        height: 5.1rem;
        cursor: pointer;
        position: relative;
        object-fit: contain;
      }
    }
  }
}
