
html {
	font-size:62.5%;
}

* {
	margin: 0;
	padding: 0;
}

ul, li {
	list-style: none;
}
input {
	border: none;
}

body {
  width: 144rem;
}

.add-child-web {
  box-sizing: border-box;
  padding: 4.6rem 50.5rem;
  width: 100%;
  height: 102.4rem;
  overflow: hidden;
  position: relative;
  background-color: #c0baf9;
}

.add-child-web .add-child-form {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  padding: 15px; /* Add padding here */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: space-between; 
}

.add-child-web .add-child-form .header {
  width: 17.4rem;
  height: 3.5rem;
  position: absolute;
  left: 3.3rem;
  top: 8.7rem;
  display: flex;
  align-items: flex-start;
}

.add-child-web .add-child-form .header .caret-left {
  margin-right: 1.1rem;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.add-child-web .add-child-form .header .add-child-text {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.26;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.add-child-web .add-child-form .child-pic {
  width: 10rem;
  height: 10rem;
  position: absolute;
  left: 4.9rem;
  top: 18.6rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/child-pic.png');
  border-radius: 5rem;
}

.add-child-web .add-child-form .btn-done {
  width: 36.5rem;
  height: 5.5rem;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #6c64c4;
  border-radius: 1rem;
  position: absolute;
  bottom: 50px; /* Adjusted bottom value */
}

.add-child-web .add-child-form .empty-name {
  width: 20.1rem;
  height: 1.5rem;
  position: absolute;
  left: 50px; /* Adjusted left value */
  top: calc(40rem + 14px); /* Adjusted top value */
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ff1e00;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}

.add-child-web .add-child-form .empty-bday {
  width: 23.8rem;
  height: 1.5rem;
  position: absolute;
  left: 50px; /* Adjusted left value */
  top: calc(52rem + 14px); /* Adjusted top value */
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ff1e00;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}

.add-child-web .add-child-form .name {
  width: 35rem;
  height: 0;
  position: absolute;
  left: 4.1rem;
  top: 36.4rem;
  object-fit: contain;
  vertical-align: top;
}

.add-child-web .add-child-form .bday {
  width: 35rem;
  height: 0;
  position: absolute;
  left: 4.1rem;
  top: 48.2rem;
  object-fit: contain;
  vertical-align: top;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
}

.input-container input[type="text"] {
  padding: 10px;
  font-size: 16px;
  width: 100%; /* Adjust width as needed */
  position: relative;
  border: 1px solid #ccc;
  border-radius: 15px;
  outline: none;
  background-color: transparent;
  transition: 0.2s ease all;
}

.input-container input[type="text"]::placeholder {
  color: #aaa; /* Default placeholder color */
  position: absolute;
  top: -25px;
  left: 5px;
  font-size: 12px;
  transition: transform 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

.input-container label {
  position: absolute;
  top: 0;
  left: 10px;
  padding: 10px;
  font-size: 16px;
  color: #aaa;
  pointer-events: none;
  transition: 0.2s ease all;
}

.input-container input[type="text"]:focus + label,
.input-container input[type="text"]:not(:placeholder-shown) + label {
  top: -25px;
  left: 5px;
  font-size: 12px;
  color: #6c64c4;
}

.input-container input[type="text"]:focus {
  border-color: #6c64c4;
  background-color: #fff;
}

.input-container input[type="text"]:focus::placeholder {
  color: #aaa;
  transform: translateY(-100%);
  font-size: 12px;
  transition: transform 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

.input-container input[type="text"],
.input-container label,
.input-container input[type="text"]::placeholder {
  font-family: Montserrat, 'Source Sans Pro', sans-serif;
}

