
html {
	font-size:62.5%;
}

* {
	margin: 0;
	padding: 0;
}

ul, li {
	list-style: none;
}

input {
	border: none;
}

body {
  width: 144rem;
}

.ad-forpass-web {
  box-sizing: border-box;
  padding: 4.6rem 50.5rem;
  width: 100%;
  height: 102.4rem;
  overflow: hidden;
  position: relative;
  background-color: #bfbaf8;
}

.ad-forpass-web .ad-forpass-form {
  box-sizing: border-box;
  padding: 8.7rem 0rem 7.3rem 0rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.ad-forpass-web .ad-forpass-form .header {
  margin: 0rem 16.4rem 2.1rem 3.3rem;
  width: calc(100% - 19.7rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.ad-forpass-web .ad-forpass-form .header .caret-left {
  margin-right: 1rem;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.ad-forpass-web .ad-forpass-form .header .lbl-for {
  margin-bottom: 0.1rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.26;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.ad-forpass-web .ad-forpass-form .img {
  margin-bottom: 4.6rem;
  width: 43rem;
  height: 33.2rem;
  position: relative;
  background-size: 116.279% 150.602%;
  background-position: -2.4rem -6.9rem;
  background-image: url('../assets/family-cuate-1-sWD.png');
  flex-shrink: 0;
}

.ad-forpass-web .ad-forpass-form .msg-send {
  margin: 0rem 0rem 22.7rem 5px;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.ad-forpass-web .ad-forpass-form .code {
  margin-bottom: 3.5rem;
  width: 34.5rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
  position: absolute;
  bottom: 200px;
  margin-right: 20px;
}

.ad-forpass-web .ad-forpass-form .btn-code {
  margin: 0rem 3.3rem 0rem 3.2rem;
  width: calc(100% - 6.5rem);
  height: 5.5rem;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.400000006);
  background-color: #6c64c4;
  border-radius: 1rem;
  flex-shrink: 0;
}

.ad-forpass-web .ad-forpass-form .empty-code {
  width: 20.1rem;
  height: 1.5rem;
  position: absolute;
  left: 40px; /* Adjusted left value */
  bottom: 175px; /* Adjusted top value */
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ff1e00;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}

.ad-forpass-web .ad-forpass-form .inc-code {
  width: 20.1rem;
  height: 1.5rem;
  position: absolute;
  left: 40px; /* Adjusted left value */
  bottom: 175px; /* Adjusted top value */
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ff1e00;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
}

.input-container input[type="text"] {
  padding: 10px;
  font-size: 16px;
  width: 100%; /* Adjust width as needed */
  position: relative;
  border: 1px solid #ccc;
  border-radius: 15px;
  outline: none;
  background-color: transparent;
  transition: 0.2s ease all;
}

.input-container input[type="text"]::placeholder {
  color: #aaa; /* Default placeholder color */
  position: absolute;
  top: -25px;
  left: 5px;
  font-size: 12px;
  transition: transform 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

.input-container label {
  position: absolute;
  top: 0;
  left: 10px;
  padding: 10px;
  font-size: 16px;
  color: #aaa;
  pointer-events: none;
  transition: 0.2s ease all;
}

.input-container input[type="text"]:focus + label,
.input-container input[type="text"]:not(:placeholder-shown) + label {
  top: -25px;
  left: 5px;
  font-size: 12px;
  color: #6c64c4;
}

.input-container input[type="text"]:focus {
  border-color: #6c64c4;
  background-color: #fff;
}

.input-container input[type="text"]:focus::placeholder {
  color: #aaa;
  transform: translateY(-100%);
  font-size: 12px;
  transition: transform 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

.input-container input[type="text"],
.input-container label,
.input-container input[type="text"]::placeholder {
  font-family: Montserrat, 'Source Sans Pro', sans-serif;
}

.empty-code,
.inc-code {
  display: none;
}