
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 35.3rem;
}.admin-parent-dl-bzm {
  box-sizing: border-box;
  padding: 4.8rem 2.3rem 4.9rem 2.4rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.6rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 2.3rem;
}
.admin-parent-dl-bzm .check-circle-8Uu {
  margin: 0rem 12rem 3.7rem 12.1rem;
  box-sizing: border-box;
  padding: 0.542rem 0.542rem 0.542rem 0.542rem;
  width: calc(100% - 24.1rem);
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-5p9.png');
  flex-shrink: 0;
}
.admin-parent-dl-bzm .check-circle-8Uu .vector-EXw {
  width: 5.4167rem;
  height: 5.4167rem;
  object-fit: contain;
  vertical-align: top;
}
.admin-parent-dl-bzm .download-complete-AAh {
  margin: 0rem 0.1rem 1.4rem 0rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-parent-dl-bzm .group-50-GjX {
  width: 100%;
  height: 5rem;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.400000006);
  background-color: #6c64c4;
  border-radius: 1rem;
  flex-shrink: 0;
}
