
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 35.3rem;
}.admin-child-print {
  box-sizing: border-box;
  padding: 9.1rem 0.931rem 8.6rem 1rem;
  width: 100%;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 2.3rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.admin-child-print .printing {
  margin-bottom: 4.3rem;
  width: 33.369rem;
  height: 26.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.admin-child-print .print-progress {
  margin-left: 0.031rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
