
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.admin-successful-login-EzH {
  box-sizing: border-box;
  padding: 4.6rem 50.5rem;
  width: 100%;
  height: 102.4rem;
  overflow: hidden;
  position: relative;
  background-color: #bfbaf8;
}
.admin-successful-login-EzH .admin-successful-login-ZFs {
  box-sizing: border-box;
  padding: 10.7rem 3.3rem 7.3rem 3.2rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.admin-successful-login-EzH .admin-successful-login-ZFs .congratulations-Ts3 {
  margin: 0rem 14.5rem 0.6rem 0rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.26;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-successful-login-EzH .admin-successful-login-ZFs .incorrect-password-MxR {
  margin: 0rem 9.8rem 64.4rem 0rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-successful-login-EzH .admin-successful-login-ZFs .btn-signup-UXF {
  width: 100%;
  height: 5.5rem;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #6c64c4;
  border-radius: 1rem;
  flex-shrink: 0;
}
