
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.calling-child-Rmw {
  box-sizing: border-box;
  padding: 4.6rem 50.5rem;
  width: 100%;
  height: 102.4rem;
  overflow: hidden;
  position: relative;
  background-color: #c0baf9;
}
.calling-child-Rmw .video-calling-child-ZdF {
  box-sizing: border-box;
  padding: 12.6rem 11.9rem 10.2rem 11rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(109, 106, 106, 0.5);
}
.calling-child-Rmw .video-calling-child-ZdF .child-pic-55o {
  margin: 0rem 2.1rem 0rem 3rem;
  width: calc(100% - 5.1rem);
  height: 15rem;
  border: solid 0.2rem #ffffff;
  box-sizing: border-box;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/child-pic.png');
  border-radius: 7.5rem;
  flex-shrink: 0;
}
.calling-child-Rmw .video-calling-child-ZdF .calling-laica-XyP {
  margin: 0rem 3.8rem 18.3rem 4.7rem;
  width: calc(100% - 8.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.calling-child-Rmw .video-calling-child-ZdF .calling-laica-XyP .laica-GAH {
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 1.26;
  color: #ffffff;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calling-child-Rmw .video-calling-child-ZdF .calling-laica-XyP .calling-PVo {
  margin-right: 0.1rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calling-child-Rmw .video-calling-child-ZdF .buttons-7gh {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.calling-child-Rmw .video-calling-child-ZdF .buttons-7gh .auto-group-wwst-5Nd {
  margin: 0rem 0rem 4.5rem 0.9rem;
  width: calc(100% - 0.9rem);
  height: 7.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.calling-child-Rmw .video-calling-child-ZdF .buttons-7gh .auto-group-wwst-5Nd .btn-mute-PPK {
  margin-right: 7.2rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.calling-child-Rmw .video-calling-child-ZdF .buttons-7gh .auto-group-wwst-5Nd .btn-mute-PPK .auto-group-jfdf-wQq {
  margin-bottom: 0.3rem;
  width: 6rem;
  height: 6rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.calling-child-Rmw .video-calling-child-ZdF .buttons-7gh .auto-group-wwst-5Nd .btn-mute-PPK .mute-frd {
  margin-right: 0.2rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calling-child-Rmw .video-calling-child-ZdF .buttons-7gh .auto-group-wwst-5Nd .btn-chat-19o {
  width: 6rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.calling-child-Rmw .video-calling-child-ZdF .buttons-7gh .auto-group-wwst-5Nd .btn-chat-19o .auto-group-xysf-A2h {
  margin-bottom: 0.3rem;
  box-sizing: border-box;
  padding: 1.5rem 1.367rem 1.5rem 1.3rem;
  width: 100%;
  background-color: rgba(201, 201, 201, 0.6999999881);
  border-radius: 3rem;
  flex-shrink: 0;
}
.calling-child-Rmw .video-calling-child-ZdF .buttons-7gh .auto-group-wwst-5Nd .btn-chat-19o .auto-group-xysf-A2h .vector-sSu {
  width: 3.3333rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
}
.calling-child-Rmw .video-calling-child-ZdF .buttons-7gh .auto-group-wwst-5Nd .btn-chat-19o .chat-Pg9 {
  margin-right: 0.3rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calling-child-Rmw .video-calling-child-ZdF .buttons-7gh .auto-group-fw3p-XXT {
  margin-bottom: 3.4rem;
  width: 100%;
  height: 8.1rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.calling-child-Rmw .video-calling-child-ZdF .buttons-7gh .auto-group-fw3p-XXT .btn-vieocall-UBo {
  margin-right: 6rem;
  width: 8.1rem;
  height: 100%;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.calling-child-Rmw .video-calling-child-ZdF .buttons-7gh .auto-group-fw3p-XXT .btn-vieocall-UBo .auto-group-wrw3-cYu {
  margin: 0rem 1.2rem 0.6rem 0.9rem;
  box-sizing: border-box;
  padding: 1.3rem 1.3rem 1.2rem 1.2rem;
  width: calc(100% - 2.1rem);
  background-color: rgba(201, 201, 201, 0.6999999881);
  border-radius: 3rem;
  flex-shrink: 0;
}
.calling-child-Rmw .video-calling-child-ZdF .buttons-7gh .auto-group-fw3p-XXT .btn-vieocall-UBo .auto-group-wrw3-cYu .fluent-video-20-filled-i69 {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
}
.calling-child-Rmw .video-calling-child-ZdF .buttons-7gh .auto-group-fw3p-XXT .btn-vieocall-UBo .video-RmF {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calling-child-Rmw .video-calling-child-ZdF .buttons-7gh .auto-group-fw3p-XXT .btn-spkr-mKK {
  width: 6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.calling-child-Rmw .video-calling-child-ZdF .buttons-7gh .auto-group-fw3p-XXT .btn-spkr-mKK .auto-group-pmed-Wnh {
  margin-bottom: 0.3rem;
  box-sizing: border-box;
  padding: 1.8rem 1.605rem 1.7rem 1.7rem;
  width: 100%;
  background-color: rgba(201, 201, 201, 0.6999999881);
  border-radius: 3rem;
  flex-shrink: 0;
}
.calling-child-Rmw .video-calling-child-ZdF .buttons-7gh .auto-group-fw3p-XXT .btn-spkr-mKK .auto-group-pmed-Wnh .vector-3Xj {
  width: 2.6953rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
}
.calling-child-Rmw .video-calling-child-ZdF .buttons-7gh .auto-group-fw3p-XXT .btn-spkr-mKK .speaker-aGm {
  margin-right: 0.2rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calling-child-Rmw .video-calling-child-ZdF .buttons-7gh .btn-end-6ku {
  margin-left: 0.9rem;
  width: 6rem;
  height: 6.1rem;
  cursor: pointer;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
