
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}

ul, li {
	list-style: none;
}

input {
	border: none;
}

body {
  width: 144rem;
}

.child-activity-K2m {
  box-sizing: border-box;
  padding: 4.6rem 50.5rem;
  width: 100%;
  height: 102.4rem;
  overflow: hidden;
  position: relative;
  background-color: #c0baf9;
}

.child-activity-K2m .child-activity-azH {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.child-activity-K2m .child-activity-azH .ci-caret-up-md-6hj {
  width: 7.1rem;
  height: 6.5rem;
  cursor: pointer;
  object-fit: contain;
  position: absolute;
  top: 0; /* Add a 5px margin from the top */
  right: 5px; /* Add a 5px margin from the right */
}

.child-activity-K2m .child-activity-azH .rectangle-75-37B {
  width: 86.7rem;
  height: 43rem;
  object-fit: contain;
  flex-shrink: 0;
  transform: rotate(90deg);
  position: absolute;
  bottom: 220px;
}
