
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.content-gG5 {
  box-sizing: border-box;
  padding: 0.2rem 6.8rem 6.2rem 5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #e8e7f3;
}
.content-gG5 .auto-group-doam-Aww {
  margin-bottom: 3.7rem;
  width: 100%;
  height: 10.2rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.content-gG5 .auto-group-doam-Aww .auto-group-fh1f-hBB {
  box-sizing: border-box;
  padding: 1.9rem 6.4rem 1.9rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.content-gG5 .auto-group-doam-Aww .auto-group-fh1f-hBB .menu-pFo {
  margin: 0rem 2.9rem 2.504rem 0rem;
  width: 6rem;
  height: 3.2959rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.content-gG5 .auto-group-doam-Aww .auto-group-fh1f-hBB .hello-mil-j7s {
  margin-bottom: 2.6rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.26;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.content-gG5 .auto-group-doam-Aww .contact-child-3eM {
  box-sizing: border-box;
  padding: 1.7rem 3.4rem 0.6rem 2.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #e6e3e3;
  border-radius: 0 0 0 2rem;
  flex-shrink: 0;
}
.content-gG5 .auto-group-doam-Aww .contact-child-3eM .auto-group-fvaq-xWR {
  margin-right: 6.5rem;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.content-gG5 .auto-group-doam-Aww .contact-child-3eM .auto-group-fvaq-xWR .child-pic-WH3 {
  margin: 0rem 0.1rem 0.466rem 0rem;
  width: 5rem;
  height: 5.2344rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.content-gG5 .auto-group-doam-Aww .contact-child-3eM .auto-group-fvaq-xWR .name-DhF {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.content-gG5 .auto-group-doam-Aww .contact-child-3eM .btn-call-9L1 {
  margin: 0.5rem 4.5rem 0.9rem 0rem;
  box-sizing: border-box;
  padding: 0.25rem 0rem 0rem 0.251rem;
  height: calc(100% - 1.4rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.content-gG5 .auto-group-doam-Aww .contact-child-3eM .btn-call-9L1 .ion-call-Fdw {
  margin: 0rem 0.55rem 0.45rem 0rem;
  width: 3.4993rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.content-gG5 .auto-group-doam-Aww .contact-child-3eM .btn-call-9L1 .call-ypq {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.26;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.content-gG5 .auto-group-doam-Aww .contact-child-3eM .btn-vcall-uTb {
  margin: 0.3rem 4.4rem 0.9rem 0rem;
  box-sizing: border-box;
  padding-top: 0.75rem;
  height: calc(100% - 1.2rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.content-gG5 .auto-group-doam-Aww .contact-child-3eM .btn-vcall-uTb .carbon-video-filled-RRw {
  margin: 0rem 0rem 1.15rem 1.2rem;
  width: 3.5rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.content-gG5 .auto-group-doam-Aww .contact-child-3eM .btn-vcall-uTb .video-call-973 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.26;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.content-gG5 .auto-group-doam-Aww .contact-child-3eM .btn-chat-Uf7 {
  margin: 0.4rem 0rem 0.9rem 0rem;
  box-sizing: border-box;
  padding-top: 0.75rem;
  height: calc(100% - 1.3rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.content-gG5 .auto-group-doam-Aww .contact-child-3eM .btn-chat-Uf7 .ph-chat-fill-Cb7 {
  margin: 0rem 0rem 0.55rem 0rem;
  width: 3.25rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.content-gG5 .auto-group-doam-Aww .contact-child-3eM .btn-chat-Uf7 .chat-Kvd {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.26;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.content-gG5 .auto-group-doam-Aww .realtime-activity-oqo {
  margin-right: 12.2rem;
  box-sizing: border-box;
  padding: 1.9rem 5.1rem 0.6rem 4.4rem;
  width: 43.3rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0 0 2rem 0;
  flex-shrink: 0;
}
.content-gG5 .auto-group-doam-Aww .realtime-activity-oqo .auto-group-uafx-WkD {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.content-gG5 .auto-group-doam-Aww .realtime-activity-oqo .auto-group-uafx-WkD .loc-4Fw {
  margin-right: 2rem;
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.content-gG5 .auto-group-doam-Aww .realtime-activity-oqo .auto-group-uafx-WkD .auto-group-k3jk-oUR {
  margin: 0.2rem 2.3rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.content-gG5 .auto-group-doam-Aww .realtime-activity-oqo .auto-group-uafx-WkD .auto-group-k3jk-oUR .pajo-lapu-lapu-city-cebu-8Wh {
  margin-bottom: 0.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.26;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.content-gG5 .auto-group-doam-Aww .realtime-activity-oqo .auto-group-uafx-WkD .auto-group-k3jk-oUR .phone-bat-SGV {
  box-sizing: border-box;
  padding-top: 0.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.content-gG5 .auto-group-doam-Aww .realtime-activity-oqo .auto-group-uafx-WkD .auto-group-k3jk-oUR .phone-bat-SGV .details-BE5 {
  margin-right: 1.2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2175;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.content-gG5 .auto-group-doam-Aww .realtime-activity-oqo .auto-group-uafx-WkD .auto-group-k3jk-oUR .phone-bat-SGV .fluent-battery-3-20-filled-gwX {
  margin: 0rem 1.1rem 0.1rem 0rem;
  width: 1.6rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.content-gG5 .auto-group-doam-Aww .realtime-activity-oqo .auto-group-uafx-WkD .auto-group-k3jk-oUR .phone-bat-SGV .details-Pb3 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2175;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.content-gG5 .auto-group-doam-Aww .realtime-activity-oqo .auto-group-uafx-WkD .subway-refresh-time-uZP {
  margin-top: 0.3rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.content-gG5 .auto-group-doam-Aww .realtime-activity-oqo .details-dkH {
  margin-left: 18.3rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2175;
  font-style: italic;
  color: #fb6e5b;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.content-gG5 .auto-group-doam-Aww .bell-W3P {
  margin-top: 1.6rem;
  width: 6rem;
  height: 3.2959rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.content-gG5 .children-pJy {
  margin: 0rem 66.685rem 1.6rem 0rem;
  width: 7.5152rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.content-gG5 .children-pJy .children-96M {
  margin: 0rem 0.815rem 1.5rem 0rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.content-gG5 .children-pJy .ellipse-6-Tcq {
  margin: 0rem 0rem 0.6rem 0.015rem;
  width: calc(100% - 0.0152rem);
  height: 7.5rem;
  border: solid 0.3rem #6c64c4;
  box-sizing: border-box;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/child-pic.png');
  border-radius: 3.75rem;
  flex-shrink: 0;
}
.content-gG5 .children-pJy .laica-Xsb {
  margin-left: 0.0152rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.content-gG5 .form-field-G4V {
  margin: 0rem 33.3rem 2.7rem 35.1rem;
  width: calc(100% - 68.4rem);
  height: 6.1rem;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.content-gG5 .form-field-G4V .auto-group-ge2r-Aff {
  width: 61.8rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.content-gG5 .form-field-G4V .auto-group-ge2r-Aff .left-WzR {
  width: 2rem;
  height: 5.5rem;
  position: absolute;
  left: 0;
  top: 0.6rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 2rem;
}
.content-gG5 .form-field-G4V .auto-group-ge2r-Aff .big-label-FBK {
  width: 30rem;
  height: 2.5rem;
  position: absolute;
  left: 2.1rem;
  top: 2.1rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.content-gG5 .form-field-G4V .auto-group-ge2r-Aff .top-part-hZ7 {
  width: 60.3rem;
  height: 1.3rem;
  position: absolute;
  left: 1.5rem;
  top: 0;
}
.content-gG5 .form-field-G4V .auto-group-ge2r-Aff .top-part-hZ7 .small-label-E3F {
  width: 15.8rem;
  height: 1.3rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2175;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.content-gG5 .form-field-G4V .auto-group-ge2r-Aff .top-part-hZ7 .top-wTT {
  width: 60.3rem;
  height: 0rem;
  position: absolute;
  left: 0;
  top: 0.6rem;
  object-fit: contain;
  vertical-align: top;
}
.content-gG5 .form-field-G4V .auto-group-ge2r-Aff .bottom-5Zf {
  width: 59.8rem;
  height: 0rem;
  position: absolute;
  left: 2rem;
  top: 6.1rem;
  object-fit: contain;
  vertical-align: top;
}
.content-gG5 .form-field-G4V .right-niy {
  width: 2rem;
  height: 5.5rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 2rem;
  flex-shrink: 0;
}
.content-gG5 .apps-iMj {
  margin: 0rem 33.3rem 12rem 35.1rem;
  box-sizing: border-box;
  padding: 4.1rem 1.7rem 2.2rem 1.7rem;
  width: calc(100% - 68.4rem);
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.content-gG5 .apps-iMj .blocked-apps-yHf {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.26;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.content-gG5 .apps-iMj .auto-group-wkkh-J53 {
  margin: 0rem 7.2rem 3.5rem 1.5rem;
  width: calc(100% - 8.7rem);
  height: 7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.content-gG5 .apps-iMj .auto-group-wkkh-J53 .app5-DSu {
  margin-right: 20.2rem;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.content-gG5 .apps-iMj .auto-group-wkkh-J53 .app5-DSu .rectangle-61-a2Z {
  margin-right: 2.5rem;
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.content-gG5 .apps-iMj .auto-group-wkkh-J53 .app5-DSu .bigo-live-t3F {
  margin-top: 1.9rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.content-gG5 .apps-iMj .auto-group-wkkh-J53 .app2-neR {
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.content-gG5 .apps-iMj .auto-group-wkkh-J53 .app2-neR .rectangle-58-9E5 {
  margin-right: 2.6rem;
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.content-gG5 .apps-iMj .auto-group-wkkh-J53 .app2-neR .tinder-ruB {
  margin-top: 1.9rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.content-gG5 .apps-iMj .auto-group-rrhw-mFT {
  margin: 0rem 2.2rem 3.6rem 1.5rem;
  width: calc(100% - 3.7rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.content-gG5 .apps-iMj .auto-group-rrhw-mFT .app1-5mw {
  margin: 0.1rem 18.7rem 0rem 0rem;
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.content-gG5 .apps-iMj .auto-group-rrhw-mFT .app1-5mw .rectangle-54-2SH {
  margin-right: 2.5rem;
  width: 7rem;
  height: 7rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.content-gG5 .apps-iMj .auto-group-rrhw-mFT .app1-5mw .robloxcom-ZBK {
  margin-top: 1.9rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.content-gG5 .apps-iMj .auto-group-rrhw-mFT .app3-GbX {
  margin-bottom: 0.1rem;
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.content-gG5 .apps-iMj .auto-group-rrhw-mFT .app3-GbX .rectangle-59-Dmf {
  margin-right: 2.6rem;
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.content-gG5 .apps-iMj .auto-group-rrhw-mFT .app3-GbX .omeglecom-99X {
  margin-top: 1.9rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.content-gG5 .apps-iMj .app4-rJq {
  margin: 0rem 34.9rem 0rem 1.5rem;
  width: calc(100% - 36.4rem);
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.content-gG5 .apps-iMj .app4-rJq .rectangle-60-yuF {
  margin-right: 2.6rem;
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.content-gG5 .apps-iMj .app4-rJq .call-of-duty-mobile-KTK {
  margin-top: 1.9rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.content-gG5 .btm-nav-content-C1K {
  margin: 0rem 45.2rem 0rem 47rem;
  box-sizing: border-box;
  padding: 0rem 2.919rem 0rem 2.919rem;
  width: calc(100% - 92.2rem);
  height: 7rem;
  background-color: #ffffff;
  border-radius: 3.05rem;
  box-shadow: 0.3rem 0.5rem 0.4rem rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
}
.content-gG5 .btm-nav-content-C1K .group-83-HoT {
  width: 100%;
  height: 6.5692rem;
  display: flex;
  align-items: center;
}
.content-gG5 .btm-nav-content-C1K .group-83-HoT .btn-sms-qa5 {
  margin: 0.969rem 0.865rem 0.538rem 0rem;
  box-sizing: border-box;
  padding: 0.471rem 0rem 0.077rem 0rem;
  width: 5.5135rem;
  height: calc(100% - 1.5077rem);
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.content-gG5 .btm-nav-content-C1K .group-83-HoT .btn-sms-qa5 .fluent-people-team-24-filled-itm {
  margin: 0rem 0rem 0.687rem 0rem;
  width: 3.1532rem;
  height: 2.8269rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.content-gG5 .btm-nav-content-C1K .group-83-HoT .btn-sms-qa5 .social-media-cz9 {
  margin-right: 0.4135rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.content-gG5 .btm-nav-content-C1K .group-83-HoT .crnt-content-jYy {
  margin-right: 2.4865rem;
  box-sizing: border-box;
  padding: 0.754rem 1.405rem 0.838rem 1.297rem;
  width: 6.5946rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse.png');
  flex-shrink: 0;
}
.content-gG5 .btm-nav-content-C1K .group-83-HoT .crnt-content-jYy .prbtn-content-EVj {
  box-sizing: border-box;
  padding-top: 0.4594rem;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.content-gG5 .btm-nav-content-C1K .group-83-HoT .crnt-content-jYy .prbtn-content-EVj .material-symbols-play-shapes-rounded-AuB {
  margin: 0rem 0rem 0.579rem 0.059rem;
  width: 2.8867rem;
  height: 2.8387rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.content-gG5 .btm-nav-content-C1K .group-83-HoT .crnt-content-jYy .prbtn-content-EVj .content-UQ5 {
  margin-right: 0.1919rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.content-gG5 .btm-nav-content-C1K .group-83-HoT .solar-shield-bold-y5w {
  margin-top: 0.4308rem;
  width: 3.7838rem;
  height: 3.7692rem;
  cursor: pointer;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.content-gG5 .btm-nav-content-C1K .group-83-HoT .auto-group-i5g1-tTo {
  box-sizing: border-box;
  padding: 0.969rem 0rem 0.538rem 3.784rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.content-gG5 .btm-nav-content-C1K .group-83-HoT .auto-group-i5g1-tTo .btn-locator-CzH {
  margin-right: 2.3783rem;
  box-sizing: border-box;
  padding: 0.471rem 0.108rem 0.085rem 0.108rem;
  width: 3.7838rem;
  height: 100%;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.content-gG5 .btm-nav-content-C1K .group-83-HoT .auto-group-i5g1-tTo .btn-locator-CzH .majesticons-map-marker-area-line-7rM {
  margin: 0rem 0rem 0.579rem 0rem;
  width: 2.5225rem;
  height: 2.8269rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.content-gG5 .btm-nav-content-C1K .group-83-HoT .auto-group-i5g1-tTo .btn-locator-CzH .locator-qnM {
  margin-right: 0.1676rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.content-gG5 .btm-nav-content-C1K .group-83-HoT .auto-group-i5g1-tTo .btn-sched-aE9 {
  box-sizing: border-box;
  padding: 0.314rem 0rem 0.077rem 0rem;
  width: 4.973rem;
  height: 100%;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.content-gG5 .btm-nav-content-C1K .group-83-HoT .auto-group-i5g1-tTo .btn-sched-aE9 .akar-icons-schedule-hpZ {
  margin: 0rem 0rem 0.529rem 0.108rem;
  width: 3.1531rem;
  height: 3.141rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.content-gG5 .btm-nav-content-C1K .group-83-HoT .auto-group-i5g1-tTo .btn-sched-aE9 .scheduling-puB {
  margin-right: 0.373rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
}

.input-container input[type="text"] {
  padding: 10px;
  font-size: 16px;
  width: 100%; /* Adjust width as needed */
  position: relative;
  border: 1px solid #ccc;
  border-radius: 15px;
  outline: none;
  background-color: transparent;
  transition: 0.2s ease all;
}

.input-container input[type="text"]::placeholder {
  color: #aaa; /* Default placeholder color */
  position: absolute;
  top: -25px;
  left: 5px;
  font-size: 12px;
  transition: transform 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

.input-container label {
  position: absolute;
  top: 0;
  left: 10px;
  padding: 10px;
  font-size: 16px;
  color: #aaa;
  pointer-events: none;
  transition: 0.2s ease all;
}

.input-container input[type="text"]:focus + label,
.input-container input[type="text"]:not(:placeholder-shown) + label {
  top: -25px;
  left: 5px;
  font-size: 12px;
  color: #6c64c4;
}

.input-container input[type="text"]:focus {
  border-color: #6c64c4;
  background-color: #fff;
}

.input-container input[type="text"]:focus::placeholder {
  color: #aaa;
  transform: translateY(-100%);
  font-size: 12px;
  transition: transform 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

.input-container input[type="text"],
.input-container label,
.input-container input[type="text"]::placeholder {
  font-family: Montserrat, 'Source Sans Pro', sans-serif;
}