
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.locator-qf3 {
  box-sizing: border-box;
  padding: 0.2rem 6.8rem 5.8rem 5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #e8e7f3;
}
.locator-qf3 .auto-group-kfbs-9fj {
  margin-bottom: 3.7rem;
  width: 100%;
  height: 10.2rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.locator-qf3 .auto-group-kfbs-9fj .auto-group-mz2m-HG9 {
  box-sizing: border-box;
  padding: 1.9rem 7.8rem 1.9rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.locator-qf3 .auto-group-kfbs-9fj .auto-group-mz2m-HG9 .menu-1hw {
  margin: 0rem 2.9rem 2.504rem 0rem;
  width: 6rem;
  height: 3.2959rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.locator-qf3 .auto-group-kfbs-9fj .auto-group-mz2m-HG9 .hello-mil-8Gm {
  margin-bottom: 2.6rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.26;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.locator-qf3 .auto-group-kfbs-9fj .contact-child-FcH {
  box-sizing: border-box;
  padding: 1.7rem 3.4rem 0.6rem 2.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #e6e3e3;
  border-radius: 0 0 0 2rem;
  flex-shrink: 0;
}
.locator-qf3 .auto-group-kfbs-9fj .contact-child-FcH .auto-group-hrzb-aeZ {
  margin-right: 6.5rem;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.locator-qf3 .auto-group-kfbs-9fj .contact-child-FcH .auto-group-hrzb-aeZ .child-pic-vTX {
  margin: 0rem 0.1rem 0.466rem 0rem;
  width: 5rem;
  height: 5.2344rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.locator-qf3 .auto-group-kfbs-9fj .contact-child-FcH .auto-group-hrzb-aeZ .name-SRs {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.locator-qf3 .auto-group-kfbs-9fj .contact-child-FcH .btn-call-ZmP {
  margin: 0.5rem 4.5rem 0.9rem 0rem;
  box-sizing: border-box;
  padding: 0.25rem 0rem 0rem 0.251rem;
  height: calc(100% - 1.4rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.locator-qf3 .auto-group-kfbs-9fj .contact-child-FcH .btn-call-ZmP .ion-call-sn5 {
  margin: 0rem 0.55rem 0.45rem 0rem;
  width: 3.4993rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.locator-qf3 .auto-group-kfbs-9fj .contact-child-FcH .btn-call-ZmP .call-CZT {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.26;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.locator-qf3 .auto-group-kfbs-9fj .contact-child-FcH .btn-vcall-k5B {
  margin: 0.3rem 4.4rem 0.9rem 0rem;
  box-sizing: border-box;
  padding-top: 0.75rem;
  height: calc(100% - 1.2rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.locator-qf3 .auto-group-kfbs-9fj .contact-child-FcH .btn-vcall-k5B .carbon-video-filled-s9o {
  margin: 0rem 0rem 1.15rem 1.2rem;
  width: 3.5rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.locator-qf3 .auto-group-kfbs-9fj .contact-child-FcH .btn-vcall-k5B .video-call-a4D {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.26;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.locator-qf3 .auto-group-kfbs-9fj .contact-child-FcH .btn-chat-u6V {
  margin: 0.4rem 0rem 0.9rem 0rem;
  box-sizing: border-box;
  padding-top: 0.75rem;
  height: calc(100% - 1.3rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.locator-qf3 .auto-group-kfbs-9fj .contact-child-FcH .btn-chat-u6V .ph-chat-fill-d2V {
  margin: 0rem 0rem 0.55rem 0rem;
  width: 3.25rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.locator-qf3 .auto-group-kfbs-9fj .contact-child-FcH .btn-chat-u6V .chat-9Wd {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.26;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.locator-qf3 .auto-group-kfbs-9fj .realtime-activity-q8Z {
  margin-right: 10.8rem;
  box-sizing: border-box;
  padding: 1.9rem 5.1rem 0.6rem 4.4rem;
  width: 43.3rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0 0 2rem 0;
  flex-shrink: 0;
}
.locator-qf3 .auto-group-kfbs-9fj .realtime-activity-q8Z .auto-group-pcmk-wSV {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.locator-qf3 .auto-group-kfbs-9fj .realtime-activity-q8Z .auto-group-pcmk-wSV .loc-HFT {
  margin-right: 2rem;
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.locator-qf3 .auto-group-kfbs-9fj .realtime-activity-q8Z .auto-group-pcmk-wSV .auto-group-oksx-pWH {
  margin: 0.2rem 2.3rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.locator-qf3 .auto-group-kfbs-9fj .realtime-activity-q8Z .auto-group-pcmk-wSV .auto-group-oksx-pWH .pajo-lapu-lapu-city-cebu-YhB {
  margin-bottom: 0.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.26;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.locator-qf3 .auto-group-kfbs-9fj .realtime-activity-q8Z .auto-group-pcmk-wSV .auto-group-oksx-pWH .phone-bat-TZF {
  box-sizing: border-box;
  padding-top: 0.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.locator-qf3 .auto-group-kfbs-9fj .realtime-activity-q8Z .auto-group-pcmk-wSV .auto-group-oksx-pWH .phone-bat-TZF .details-Cmj {
  margin-right: 1.2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2175;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.locator-qf3 .auto-group-kfbs-9fj .realtime-activity-q8Z .auto-group-pcmk-wSV .auto-group-oksx-pWH .phone-bat-TZF .fluent-battery-3-20-filled-89b {
  margin: 0rem 1.1rem 0.1rem 0rem;
  width: 1.6rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.locator-qf3 .auto-group-kfbs-9fj .realtime-activity-q8Z .auto-group-pcmk-wSV .auto-group-oksx-pWH .phone-bat-TZF .details-ECd {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2175;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.locator-qf3 .auto-group-kfbs-9fj .realtime-activity-q8Z .auto-group-pcmk-wSV .subway-refresh-time-9qP {
  margin-top: 0.3rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.locator-qf3 .auto-group-kfbs-9fj .realtime-activity-q8Z .details-gaR {
  margin-left: 18.3rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2175;
  font-style: italic;
  color: #fb6e5b;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.locator-qf3 .auto-group-kfbs-9fj .bell-xH3 {
  margin-top: 1.6rem;
  width: 6rem;
  height: 3.2959rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.locator-qf3 .children-HaD {
  margin: 0rem 66.685rem 2.5rem 0rem;
  width: 7.5152rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.locator-qf3 .children-HaD .children-c6h {
  margin: 0rem 0.815rem 1.5rem 0rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.locator-qf3 .children-HaD .ellipse-6-Kmo {
  margin: 0rem 0rem 0.6rem 0.015rem;
  width: calc(100% - 0.0152rem);
  height: 7.5rem;
  border: solid 0.3rem #6c64c4;
  box-sizing: border-box;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-6-bg-PHf.png');
  border-radius: 3.75rem;
  flex-shrink: 0;
}
.locator-qf3 .children-HaD .laica-D6V {
  margin-left: 0.0152rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.locator-qf3 .map-9Vw {
  margin: 0rem 22.8rem 2.5rem 34.8rem;
  width: calc(100% - 57.6rem);
  height: 57.5rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.locator-qf3 .map-9Vw .figmap-5Pb {
  box-sizing: border-box;
  padding: 32.1rem 22.1rem 36.3rem 24.5rem;
  width: 128rem;
  height: 128rem;
  display: flex;
  align-items: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/basemap-image-bg.png');
}
.locator-qf3 .map-9Vw .figmap-5Pb .auto-group-ntpd-Pv5 {
  margin: 35.2rem 15.287rem 0rem 0rem;
  width: 21.7127rem;
  height: 24.4rem;
  position: relative;
  flex-shrink: 0;
}
.locator-qf3 .map-9Vw .figmap-5Pb .auto-group-ntpd-Pv5 .group-76-Koj {
  width: 19.7rem;
  height: 21.7rem;
  position: absolute;
  left: 0;
  top: 2.7rem;
}
.locator-qf3 .map-9Vw .figmap-5Pb .auto-group-ntpd-Pv5 .group-76-Koj .group-74-fMo {
  width: 19.6rem;
  height: 21.7rem;
  position: absolute;
  left: 0.1rem;
  top: 0;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.locator-qf3 .map-9Vw .figmap-5Pb .auto-group-ntpd-Pv5 .group-76-Koj .group-74-fMo .ellipse-30-oD7 {
  margin-bottom: 14rem;
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.locator-qf3 .map-9Vw .figmap-5Pb .auto-group-ntpd-Pv5 .group-76-Koj .group-74-fMo .ellipse-29-waD {
  margin-right: 15.4rem;
  width: 4.2rem;
  height: 4.2rem;
  box-shadow: 0 -1.5rem 4rem rgba(0, 0, 0, 0.150000006);
  background-color: #6c64c4;
  border-radius: 2.1rem;
  flex-shrink: 0;
}
.locator-qf3 .map-9Vw .figmap-5Pb .auto-group-ntpd-Pv5 .group-76-Koj .frame-5-dC9 {
  box-sizing: border-box;
  padding: 0.3rem 1.1rem;
  width: 4.4rem;
  height: 2.65rem;
  position: absolute;
  left: 0;
  top: 14.6rem;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-28-UPX.png');
}
.locator-qf3 .map-9Vw .figmap-5Pb .auto-group-ntpd-Pv5 .map-invisible-VEM {
  opacity: 0;
  width: 21.7127rem;
  height: 17.3rem;
  position: absolute;
  left: 0;
  top: 0;
}
.locator-qf3 .map-9Vw .figmap-5Pb .auto-group-ntpd-Pv5 .map-invisible-VEM .group-74-Dg9 {
  width: 21.6127rem;
  height: 17.3rem;
  position: absolute;
  left: 0.1rem;
  top: 0;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.locator-qf3 .map-9Vw .figmap-5Pb .auto-group-ntpd-Pv5 .map-invisible-VEM .group-74-Dg9 .ellipse-30-MGZ {
  margin-bottom: 9.6rem;
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.locator-qf3 .map-9Vw .figmap-5Pb .auto-group-ntpd-Pv5 .map-invisible-VEM .group-74-Dg9 .ellipse-29-gZj {
  margin-right: 17.4127rem;
  width: 4.2rem;
  height: 4.2rem;
  box-shadow: 0 -1.5rem 4rem rgba(0, 0, 0, 0.150000006);
  background-color: #6c64c4;
  border-radius: 2.1rem;
  flex-shrink: 0;
}
.locator-qf3 .map-9Vw .figmap-5Pb .auto-group-ntpd-Pv5 .map-invisible-VEM .frame-5-xXF {
  box-sizing: border-box;
  padding: 0.3rem 1.1rem;
  width: 4.4rem;
  height: 2.65rem;
  position: absolute;
  left: 0;
  top: 10.2rem;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-28-MH7.png');
}
.locator-qf3 .map-9Vw .figmap-5Pb .auto-group-nlwx-pJZ {
  margin: 0rem 21.087rem 31.2rem 0rem;
  width: 21.7127rem;
  height: 28.4rem;
  position: relative;
  flex-shrink: 0;
}
.locator-qf3 .map-9Vw .figmap-5Pb .auto-group-nlwx-pJZ .marker-jgR {
  width: 19.7rem;
  height: 21.7rem;
  position: absolute;
  left: 0;
  top: 0;
}
.locator-qf3 .map-9Vw .figmap-5Pb .auto-group-nlwx-pJZ .marker-jgR .group-74-t3X {
  width: 19.6rem;
  height: 21.7rem;
  position: absolute;
  left: 0.1rem;
  top: 0;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.locator-qf3 .map-9Vw .figmap-5Pb .auto-group-nlwx-pJZ .marker-jgR .group-74-t3X .ellipse-30-1dw {
  margin-bottom: 14rem;
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.locator-qf3 .map-9Vw .figmap-5Pb .auto-group-nlwx-pJZ .marker-jgR .group-74-t3X .ellipse-29-MSu {
  margin-right: 15.4rem;
  width: 4.2rem;
  height: 4.2rem;
  box-shadow: 0 -1.5rem 4rem rgba(0, 0, 0, 0.150000006);
  background-color: #6c64c4;
  border-radius: 2.1rem;
  flex-shrink: 0;
}
.locator-qf3 .map-9Vw .figmap-5Pb .auto-group-nlwx-pJZ .marker-jgR .frame-5-CyK {
  box-sizing: border-box;
  padding: 0.3rem 1.2rem 0.3rem 1rem;
  width: 4.4rem;
  height: 2.65rem;
  position: absolute;
  left: 0;
  top: 14.6rem;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-28-n8M.png');
}
.locator-qf3 .map-9Vw .figmap-5Pb .auto-group-nlwx-pJZ .marker-invisible-TeM {
  opacity: 0;
  box-sizing: border-box;
  padding: 10.2rem 0rem 4.45rem 0rem;
  width: 21.7127rem;
  height: 17.3rem;
  position: absolute;
  left: 0;
  top: 11.1rem;
}
.locator-qf3 .map-9Vw .figmap-5Pb .auto-group-nlwx-pJZ .marker-invisible-TeM .frame-5-ZxH {
  margin-right: 17.3127rem;
  box-sizing: border-box;
  padding: 0.3rem 0.9rem 0.3rem 1rem;
  width: 4.4rem;
  height: 100%;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-28.png');
}
.locator-qf3 .map-9Vw .figmap-5Pb .default-marker-component-eD3 {
  margin-top: 11rem;
  width: 1.6rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.locator-qf3 .btm-nav-locator-6qj {
  margin: 0rem 40.3rem 0rem 51.9rem;
  box-sizing: border-box;
  padding: 0rem 2.811rem 0rem 2.919rem;
  width: calc(100% - 92.2rem);
  height: 7rem;
  box-shadow: 0.2rem 0.4rem 0.6rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 3.05rem;
  flex-shrink: 0;
}
.locator-qf3 .btm-nav-locator-6qj .group-87-zw7 {
  width: 100%;
  height: 6.5692rem;
  display: flex;
  align-items: center;
}
.locator-qf3 .btm-nav-locator-6qj .group-87-zw7 .auto-group-hdpy-x7F {
  box-sizing: border-box;
  padding: 0.969rem 2.703rem 0.615rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.locator-qf3 .btm-nav-locator-6qj .group-87-zw7 .auto-group-hdpy-x7F .btn-sms-sk1 {
  margin-right: 2.5757rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.locator-qf3 .btm-nav-locator-6qj .group-87-zw7 .auto-group-hdpy-x7F .btn-sms-sk1 .fluent-people-team-24-filled-dDP {
  margin: 0rem 0rem 0.215rem 0.413rem;
  width: 3.7838rem;
  height: 3.7692rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.locator-qf3 .btm-nav-locator-6qj .group-87-zw7 .auto-group-hdpy-x7F .btn-sms-sk1 .social-media-8vq {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.locator-qf3 .btm-nav-locator-6qj .group-87-zw7 .auto-group-hdpy-x7F .btn-content-4pV {
  margin: 0rem 3.568rem 0.008rem 0rem;
  height: calc(100% - 0.0077rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.locator-qf3 .btm-nav-locator-6qj .group-87-zw7 .auto-group-hdpy-x7F .btn-content-4pV .material-symbols-play-shapes-rounded-CQu {
  margin: 0rem 0rem 0.108rem 0.108rem;
  width: 3.7838rem;
  height: 3.7692rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.locator-qf3 .btm-nav-locator-6qj .group-87-zw7 .auto-group-hdpy-x7F .btn-content-4pV .content-6mB {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.locator-qf3 .btm-nav-locator-6qj .group-87-zw7 .auto-group-hdpy-x7F .auto-group-yhbj-qTs {
  margin-top: 0.0769rem;
  width: 3.7838rem;
  height: 3.7692rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.locator-qf3 .btm-nav-locator-6qj .group-87-zw7 .crnt-locator-Zuf {
  margin-right: 1.0811rem;
  box-sizing: border-box;
  padding: 0.754rem 1.405rem 0.838rem 1.405rem;
  width: 6.5946rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-29.png');
  flex-shrink: 0;
}
.locator-qf3 .btm-nav-locator-6qj .group-87-zw7 .crnt-locator-Zuf .pbtn-locator-J6Z {
  box-sizing: border-box;
  padding: 0.471rem 0.108rem 0rem 0.108rem;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.locator-qf3 .btm-nav-locator-6qj .group-87-zw7 .crnt-locator-Zuf .pbtn-locator-J6Z .majesticons-map-marker-area-line-EF7 {
  margin: 0rem 0rem 0.579rem 0rem;
  width: 2.5225rem;
  height: 2.8269rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.locator-qf3 .btm-nav-locator-6qj .group-87-zw7 .crnt-locator-Zuf .pbtn-locator-J6Z .locator-kDT {
  margin-right: 0.1676rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.locator-qf3 .btm-nav-locator-6qj .group-87-zw7 .btn-sched-TNm {
  margin: 0.969rem 0rem 0.538rem 0rem;
  box-sizing: border-box;
  padding: 0.314rem 0rem 0.077rem 0rem;
  width: 4.973rem;
  height: calc(100% - 1.5077rem);
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.locator-qf3 .btm-nav-locator-6qj .group-87-zw7 .btn-sched-TNm .akar-icons-schedule-kcm {
  margin: 0rem 0rem 0.529rem 0.108rem;
  width: 3.1531rem;
  height: 3.141rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.locator-qf3 .btm-nav-locator-6qj .group-87-zw7 .btn-sched-TNm .scheduling-gFX {
  margin-right: 0.373rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
