
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.online-activities-RPB {
  box-sizing: border-box;
  padding: 4.6rem 50.5rem;
  width: 100%;
  height: 102.4rem;
  overflow: hidden;
  position: relative;
  background-color: #bfbaf8;
}
.online-activities-RPB .online-activities-kwF {
  box-sizing: border-box;
  padding: 10.9rem 3.113rem 36.1rem 3.2rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.online-activities-RPB .online-activities-kwF .auto-group-ba53-sky {
  margin: 0rem 1.088rem 3.3rem 0.2rem;
  width: calc(100% - 1.2875rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.online-activities-RPB .online-activities-kwF .auto-group-ba53-sky .online-activities-CoF {
  margin-right: 13.6rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.26;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.online-activities-RPB .online-activities-kwF .auto-group-ba53-sky .ph-x-bold-vjF {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.online-activities-RPB .online-activities-kwF .name-GHK {
  margin: 0rem 0rem 3.8rem 0.2rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2175;
  color: rgba(0, 0, 0, 0.5);
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.online-activities-RPB .online-activities-kwF .auto-group-qjfw-aYu {
  margin-bottom: 6rem;
  width: 100%;
  height: 7.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.online-activities-RPB .online-activities-kwF .auto-group-qjfw-aYu .child-pic-XU9 {
  width: 7.4rem;
  height: 7.4rem;
  border: solid 0.3rem #6c64c4;
  box-sizing: border-box;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/child-pic.png');
  border-radius: 3.7rem;
  flex-shrink: 0;
}
.online-activities-RPB .online-activities-kwF .auto-group-qjfw-aYu .auto-group-dltx-RJd {
  box-sizing: border-box;
  padding-left: 1.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.online-activities-RPB .online-activities-kwF .auto-group-qjfw-aYu .auto-group-dltx-RJd .auto-group-tdth-m7b {
  margin: 0rem 3.8rem 0.7rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.online-activities-RPB .online-activities-kwF .auto-group-qjfw-aYu .auto-group-dltx-RJd .auto-group-tdth-m7b .email-6vZ {
  margin-bottom: 0.9rem;
  max-width: 23.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.online-activities-RPB .online-activities-kwF .auto-group-qjfw-aYu .auto-group-dltx-RJd .auto-group-tdth-m7b .name-EG5 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2175;
  color: rgba(0, 0, 0, 0.5);
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.online-activities-RPB .online-activities-kwF .auto-group-qjfw-aYu .auto-group-dltx-RJd .group-MrV {
  margin-bottom: 1.6375rem;
  width: 0.1875rem;
  height: 1.5625rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.online-activities-RPB .online-activities-kwF .name-UgD {
  margin: 0rem 0rem 1.5rem 0.2rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2175;
  color: rgba(0, 0, 0, 0.5);
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.online-activities-RPB .online-activities-kwF .auto-group-a2lm-CcD {
  margin: 0rem 0.1rem 1.6rem 0rem;
  width: calc(100% - 0.1rem);
  height: 7.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.online-activities-RPB .online-activities-kwF .auto-group-a2lm-CcD .child-pic-7z5 {
  width: 7.4rem;
  height: 7.4rem;
  border: solid 0.3rem #6c64c4;
  box-sizing: border-box;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/child-pic.png');
  border-radius: 3.7rem;
  flex-shrink: 0;
}
.online-activities-RPB .online-activities-kwF .auto-group-a2lm-CcD .auto-group-14nq-Eoo {
  box-sizing: border-box;
  padding-left: 1.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.online-activities-RPB .online-activities-kwF .auto-group-a2lm-CcD .auto-group-14nq-Eoo .auto-group-ljem-zY5 {
  margin: 0rem 4.7rem 0.7rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.online-activities-RPB .online-activities-kwF .auto-group-a2lm-CcD .auto-group-14nq-Eoo .auto-group-ljem-zY5 .email-8eH {
  margin-bottom: 0.9rem;
  max-width: 22.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.online-activities-RPB .online-activities-kwF .auto-group-a2lm-CcD .auto-group-14nq-Eoo .auto-group-ljem-zY5 .name-TRf {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2175;
  color: rgba(0, 0, 0, 0.5);
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.online-activities-RPB .online-activities-kwF .auto-group-a2lm-CcD .auto-group-14nq-Eoo .group-Q61 {
  margin-bottom: 1.6375rem;
  width: 0.1875rem;
  height: 1.5625rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.online-activities-RPB .online-activities-kwF .auto-group-bmg9-Kim {
  margin-right: 0.1rem;
  width: calc(100% - 0.1rem);
  height: 7.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.online-activities-RPB .online-activities-kwF .auto-group-bmg9-Kim .child-pic-4AZ {
  width: 7.4rem;
  height: 7.4rem;
  border: solid 0.3rem #6c64c4;
  box-sizing: border-box;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/child-pic.png');
  border-radius: 3.7rem;
  flex-shrink: 0;
}
.online-activities-RPB .online-activities-kwF .auto-group-bmg9-Kim .auto-group-9duz-MvM {
  box-sizing: border-box;
  padding-left: 1.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.online-activities-RPB .online-activities-kwF .auto-group-bmg9-Kim .auto-group-9duz-MvM .auto-group-xv7t-iF7 {
  margin: 0rem 4.7rem 0.7rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.online-activities-RPB .online-activities-kwF .auto-group-bmg9-Kim .auto-group-9duz-MvM .auto-group-xv7t-iF7 .email-3oB {
  margin-bottom: 0.9rem;
  max-width: 22.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.online-activities-RPB .online-activities-kwF .auto-group-bmg9-Kim .auto-group-9duz-MvM .auto-group-xv7t-iF7 .name-AN1 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2175;
  color: rgba(0, 0, 0, 0.5);
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.online-activities-RPB .online-activities-kwF .auto-group-bmg9-Kim .auto-group-9duz-MvM .group-JDK {
  margin-bottom: 1.6375rem;
  width: 0.1875rem;
  height: 1.5625rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
