
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.dashboard-E61 {
  box-sizing: border-box;
  padding: 0.2rem 6.8rem 5.8rem 5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #e8e7f3;
}
.dashboard-E61 .auto-group-9gop-vzR {
  margin-bottom: 3.7rem;
  width: 100%;
  height: 10.2rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dashboard-E61 .auto-group-9gop-vzR .auto-group-5xgd-4aq {
  box-sizing: border-box;
  padding: 1.9rem 6.4rem 1.9rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.dashboard-E61 .auto-group-9gop-vzR .auto-group-5xgd-4aq .menu-nmj {
  margin: 0rem 2.9rem 2.504rem 0rem;
  width: 6rem;
  height: 3.2959rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-E61 .auto-group-9gop-vzR .auto-group-5xgd-4aq .hello-mil-i9b {
  margin-bottom: 2.6rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.26;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-E61 .auto-group-9gop-vzR .contact-child-ENq {
  box-sizing: border-box;
  padding: 1.7rem 3.4rem 0.6rem 2.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #e6e3e3;
  border-radius: 0 0 0 2rem;
  flex-shrink: 0;
}
.dashboard-E61 .auto-group-9gop-vzR .contact-child-ENq .auto-group-8dzp-xpd {
  margin-right: 6.5rem;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.dashboard-E61 .auto-group-9gop-vzR .contact-child-ENq .auto-group-8dzp-xpd .child-pic-WbF {
  margin: 0rem 0.1rem 0.466rem 0rem;
  width: 5rem;
  height: 5.2344rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-E61 .auto-group-9gop-vzR .contact-child-ENq .auto-group-8dzp-xpd .name-2pV {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-E61 .auto-group-9gop-vzR .contact-child-ENq .btn-call-xy3 {
  margin: 0.5rem 4.5rem 0.9rem 0rem;
  box-sizing: border-box;
  padding: 0.25rem 0rem 0rem 0.251rem;
  height: calc(100% - 1.4rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.dashboard-E61 .auto-group-9gop-vzR .contact-child-ENq .btn-call-xy3 .ion-call-saD {
  margin: 0rem 0.55rem 0.45rem 0rem;
  width: 3.4993rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-E61 .auto-group-9gop-vzR .contact-child-ENq .btn-call-xy3 .call-EZB {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.26;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-E61 .auto-group-9gop-vzR .contact-child-ENq .btn-vcall-mp1 {
  margin: 0.3rem 4.4rem 0.9rem 0rem;
  box-sizing: border-box;
  padding-top: 0.75rem;
  height: calc(100% - 1.2rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.dashboard-E61 .auto-group-9gop-vzR .contact-child-ENq .btn-vcall-mp1 .carbon-video-filled-gvy {
  margin: 0rem 0rem 1.15rem 1.2rem;
  width: 3.5rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-E61 .auto-group-9gop-vzR .contact-child-ENq .btn-vcall-mp1 .video-call-okh {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.26;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-E61 .auto-group-9gop-vzR .contact-child-ENq .btn-chat-YTP {
  margin: 0.4rem 0rem 0.9rem 0rem;
  box-sizing: border-box;
  padding-top: 0.75rem;
  height: calc(100% - 1.3rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.dashboard-E61 .auto-group-9gop-vzR .contact-child-ENq .btn-chat-YTP .ph-chat-fill-UM3 {
  margin: 0rem 0rem 0.55rem 0rem;
  width: 3.25rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-E61 .auto-group-9gop-vzR .contact-child-ENq .btn-chat-YTP .chat-nsX {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.26;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-E61 .auto-group-9gop-vzR .realtime-activity-t9s {
  margin-right: 12.2rem;
  box-sizing: border-box;
  padding: 1.9rem 5.1rem 0.6rem 4.4rem;
  width: 43.3rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0 0 2rem 0;
  flex-shrink: 0;
}
.dashboard-E61 .auto-group-9gop-vzR .realtime-activity-t9s .auto-group-91up-PcR {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dashboard-E61 .auto-group-9gop-vzR .realtime-activity-t9s .auto-group-91up-PcR .loc-LXf {
  margin-right: 2rem;
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-E61 .auto-group-9gop-vzR .realtime-activity-t9s .auto-group-91up-PcR .auto-group-2x3w-g5j {
  margin: 0.2rem 2.3rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.dashboard-E61 .auto-group-9gop-vzR .realtime-activity-t9s .auto-group-91up-PcR .auto-group-2x3w-g5j .pajo-lapu-lapu-city-cebu-QnR {
  margin-bottom: 0.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.26;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-E61 .auto-group-9gop-vzR .realtime-activity-t9s .auto-group-91up-PcR .auto-group-2x3w-g5j .phone-bat-LAH {
  box-sizing: border-box;
  padding-top: 0.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.dashboard-E61 .auto-group-9gop-vzR .realtime-activity-t9s .auto-group-91up-PcR .auto-group-2x3w-g5j .phone-bat-LAH .details-HLR {
  margin-right: 1.2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2175;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-E61 .auto-group-9gop-vzR .realtime-activity-t9s .auto-group-91up-PcR .auto-group-2x3w-g5j .phone-bat-LAH .fluent-battery-3-20-filled-Qfw {
  margin: 0rem 1.1rem 0.1rem 0rem;
  width: 1.6rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-E61 .auto-group-9gop-vzR .realtime-activity-t9s .auto-group-91up-PcR .auto-group-2x3w-g5j .phone-bat-LAH .details-VhP {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2175;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-E61 .auto-group-9gop-vzR .realtime-activity-t9s .auto-group-91up-PcR .subway-refresh-time-2SR {
  margin-top: 0.3rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-E61 .auto-group-9gop-vzR .realtime-activity-t9s .details-Y9s {
  margin-left: 18.3rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2175;
  font-style: italic;
  color: #fb6e5b;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-E61 .auto-group-9gop-vzR .bell-pNH {
  margin-top: 1.6rem;
  width: 6rem;
  height: 3.2959rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-E61 .children-wxh {
  margin: 0rem 66.685rem 2.9rem 0rem;
  width: 7.5152rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.dashboard-E61 .children-wxh .children-53K {
  margin: 0rem 0.815rem 1.5rem 0rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-E61 .children-wxh .ellipse-6-akm {
  margin: 0rem 0rem 0.6rem 0.015rem;
  width: calc(100% - 0.0152rem);
  height: 7.5rem;
  border: solid 0.3rem #6c64c4;
  box-sizing: border-box;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-6-bg.png');
  border-radius: 3.75rem;
  flex-shrink: 0;
}
.dashboard-E61 .children-wxh .laica-f1X {
  margin-left: 0.0152rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-E61 .group-67-PTK {
  margin: 0rem 18.2rem 2.9rem 27.4rem;
  width: calc(100% - 45.6rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.dashboard-E61 .group-67-PTK .group-63-uRf {
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding: 1.7rem 62.144rem 1.1rem 2.155rem;
  width: 100%;
  height: 4.7rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.400000006);
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.dashboard-E61 .group-67-PTK .group-63-uRf .auto-group-fxso-cay {
  margin-right: 0.9012rem;
  width: 1.9rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #6c64c4;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem #6c64c4;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.95rem;
  flex-shrink: 0;
}
.dashboard-E61 .group-67-PTK .group-63-uRf .add-a-device-to-start-monitoring-4C5 {
  margin-bottom: 0.4rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-E61 .group-67-PTK .group-62-7AM {
  box-sizing: border-box;
  padding: 0.8rem 73.605rem 0.8rem 2.3rem;
  width: 100%;
  height: 7.9rem;
  display: flex;
  align-items: flex-start;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.400000006);
  background-color: #6c64c4;
  border-radius: 1rem;
  flex-shrink: 0;
}
.dashboard-E61 .group-67-PTK .group-62-7AM .auto-group-evw7-pKf {
  margin-right: 0.7166rem;
  width: 1.8rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-E61 .group-67-PTK .group-62-7AM .auto-group-atn9-MKb {
  margin: 0.1rem 1.056rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.dashboard-E61 .group-67-PTK .group-62-7AM .auto-group-atn9-MKb .free-time-VAu {
  margin: 0rem 0rem 2.4rem 0.122rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-E61 .group-67-PTK .group-62-7AM .auto-group-atn9-MKb .m-used-bzd {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-E61 .group-67-PTK .group-62-7AM .h-LhK {
  margin-top: 0.3rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-E61 .timers-SEZ {
  margin: 0rem 18.2rem 4.2rem 27.4rem;
  box-sizing: border-box;
  padding: 3.4rem 5.458rem 4.8rem 5.6rem;
  width: calc(100% - 45.6rem);
  height: 38.9rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.dashboard-E61 .timers-SEZ .timer-Y2h {
  margin: 4.1rem 12.702rem 0rem 0rem;
  width: 25.1984rem;
  height: 26rem;
  position: relative;
  flex-shrink: 0;
}
.dashboard-E61 .timers-SEZ .timer-Y2h .group-72-GjP {
  width: 25.1984rem;
  height: 26rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.dashboard-E61 .timers-SEZ .timer-Y2h .group-71-ozD {
  width: 9.1rem;
  height: 3.6667rem;
  position: absolute;
  left: 7.6693rem;
  top: 11.8596rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.dashboard-E61 .timers-SEZ .timer-Y2h .group-71-ozD .screen-time-used-j7B {
  margin-bottom: 0.8667rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-E61 .timers-SEZ .timer-Y2h .group-71-ozD .m-fFj {
  margin-left: 0.5309rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-E61 .timers-SEZ .timers-PhX {
  width: 37.6418rem;
  height: 100%;
  flex-shrink: 0;
}
.dashboard-E61 .timers-SEZ .timers-PhX .timers-wj3 {
  margin: 0rem 0rem 2.1rem 0.3rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.26;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.dashboard-E61 .timers-SEZ .timers-PhX .auto-group-bbwm-Ey3 {
  margin-bottom: 4.1894rem;
  width: 100%;
  height: 11.0553rem;
  display: flex;
  align-items: center;
}
.dashboard-E61 .timers-SEZ .timers-PhX .auto-group-bbwm-Ey3 .sm-timer-BNV {
  margin-right: 4.7988rem;
  box-sizing: border-box;
  padding: 1.484rem 1.276rem 3.586rem 1.276rem;
  width: 16.4215rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.400000006);
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.dashboard-E61 .timers-SEZ .timers-PhX .auto-group-bbwm-Ey3 .sm-timer-BNV .auto-group-rw2q-HAd {
  margin: 0rem 1.92rem 1.367rem 0rem;
  width: calc(100% - 1.9197rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.dashboard-E61 .timers-SEZ .timers-PhX .auto-group-bbwm-Ey3 .sm-timer-BNV .auto-group-rw2q-HAd .fluent-people-team-24-filled-QFF {
  margin-right: 1.4759rem;
  width: 2.7739rem;
  height: 2.6184rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-E61 .timers-SEZ .timers-PhX .auto-group-bbwm-Ey3 .sm-timer-BNV .auto-group-rw2q-HAd .empty-password-7QZ {
  margin-bottom: 0.3619rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-E61 .timers-SEZ .timers-PhX .auto-group-bbwm-Ey3 .sm-timer-BNV .empty-password-2Gd {
  margin-right: 0.0001rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #6c64c4;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-E61 .timers-SEZ .timers-PhX .auto-group-bbwm-Ey3 .gms-timer-JE9 {
  box-sizing: border-box;
  padding: 1.746rem 1.437rem 3.586rem 1.437rem;
  width: 16.4215rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.400000006);
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.dashboard-E61 .timers-SEZ .timers-PhX .auto-group-bbwm-Ey3 .gms-timer-JE9 .auto-group-tpsk-Qny {
  margin: 0rem 4.346rem 1.705rem 0rem;
  width: calc(100% - 4.3462rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dashboard-E61 .timers-SEZ .timers-PhX .auto-group-bbwm-Ey3 .gms-timer-JE9 .auto-group-tpsk-Qny .dashicons-games-8U5 {
  margin: 0rem 2.227rem 0rem 0rem;
  width: 2.6735rem;
  height: 2.0186rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-E61 .timers-SEZ .timers-PhX .auto-group-bbwm-Ey3 .gms-timer-JE9 .auto-group-tpsk-Qny .empty-password-exD {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-E61 .timers-SEZ .timers-PhX .auto-group-bbwm-Ey3 .gms-timer-JE9 .empty-password-b6m {
  margin-right: 0.0001rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #6c64c4;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-E61 .timers-SEZ .timers-PhX .auto-group-xjzh-Gyb {
  margin-left: 0.2219rem;
  width: calc(100% - 0.2219rem);
  height: 11.0553rem;
  display: flex;
  align-items: center;
}
.dashboard-E61 .timers-SEZ .timers-PhX .auto-group-xjzh-Gyb .ent-timer-cnZ {
  margin-right: 4.577rem;
  box-sizing: border-box;
  padding: 1.033rem 1.83rem 3.819rem 1.096rem;
  width: 16.4215rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.400000006);
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.dashboard-E61 .timers-SEZ .timers-PhX .auto-group-xjzh-Gyb .ent-timer-cnZ .auto-group-mdwm-7zD {
  margin-bottom: 1.1492rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.dashboard-E61 .timers-SEZ .timers-PhX .auto-group-xjzh-Gyb .ent-timer-cnZ .auto-group-mdwm-7zD .carbon-play-outline-4eZ {
  margin-right: 1.4833rem;
  width: 2.9126rem;
  height: 3.0548rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-E61 .timers-SEZ .timers-PhX .auto-group-xjzh-Gyb .ent-timer-cnZ .auto-group-mdwm-7zD .empty-password-Pwj {
  margin-bottom: 0.362rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-E61 .timers-SEZ .timers-PhX .auto-group-xjzh-Gyb .ent-timer-cnZ .empty-password-JJ1 {
  margin-left: 0.7341rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #6c64c4;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-E61 .timers-SEZ .timers-PhX .auto-group-xjzh-Gyb .oth-timer-yQ9 {
  box-sizing: border-box;
  padding: 1.106rem 1.387rem 2.655rem 1.387rem;
  width: 16.4215rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.400000006);
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.dashboard-E61 .timers-SEZ .timers-PhX .auto-group-xjzh-Gyb .oth-timer-yQ9 .auto-group-jvpp-gpM {
  margin: 0rem 4.391rem 2.386rem 0rem;
  width: calc(100% - 4.391rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.dashboard-E61 .timers-SEZ .timers-PhX .auto-group-xjzh-Gyb .oth-timer-yQ9 .auto-group-jvpp-gpM .mdi-web-bwK {
  margin-right: 2.2827rem;
  width: 2.7739rem;
  height: 2.9093rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-E61 .timers-SEZ .timers-PhX .auto-group-xjzh-Gyb .oth-timer-yQ9 .auto-group-jvpp-gpM .empty-password-8gM {
  margin-bottom: 0.1292rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-E61 .timers-SEZ .timers-PhX .auto-group-xjzh-Gyb .oth-timer-yQ9 .empty-password-TTj {
  margin-right: 0.0001rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #6c64c4;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-E61 .btm-nav-home-t3F {
  margin: 0rem 40.3rem 0rem 51.9rem;
  box-sizing: border-box;
  padding: 0.215rem 2.919rem 0.215rem 2.919rem;
  width: calc(100% - 92.2rem);
  height: 7rem;
  background-color: #ffffff;
  border-radius: 3.05rem;
  box-shadow: 0.3rem 0.5rem 0.4rem rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
}
.dashboard-E61 .btm-nav-home-t3F .group-84-awf {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.dashboard-E61 .btm-nav-home-t3F .group-84-awf .auto-group-adu9-jpZ {
  box-sizing: border-box;
  padding: 0.538rem 2.487rem 0.754rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.dashboard-E61 .btm-nav-home-t3F .group-84-awf .auto-group-adu9-jpZ .btn-sms-gE1 {
  margin: 0.215rem 2.162rem 0rem 0rem;
  box-sizing: border-box;
  padding: 0.471rem 0rem 0.077rem 0rem;
  width: 5.5135rem;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.dashboard-E61 .btm-nav-home-t3F .group-84-awf .auto-group-adu9-jpZ .btn-sms-gE1 .fluent-people-team-24-filled-yU1 {
  margin: 0rem 0rem 0.687rem 0rem;
  width: 3.1532rem;
  height: 2.8269rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-E61 .btm-nav-home-t3F .group-84-awf .auto-group-adu9-jpZ .btn-sms-gE1 .social-media-JFP {
  margin-right: 0.4135rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-E61 .btm-nav-home-t3F .group-84-awf .auto-group-adu9-jpZ .btn-content-cG5 {
  margin-bottom: 0.2154rem;
  box-sizing: border-box;
  padding: 0.459rem 0rem 0.085rem 0rem;
  width: 4rem;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.dashboard-E61 .btm-nav-home-t3F .group-84-awf .auto-group-adu9-jpZ .btn-content-cG5 .material-symbols-play-shapes-rounded-KwB {
  margin: 0rem 0.049rem 0.579rem 0rem;
  width: 2.8867rem;
  height: 2.8387rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-E61 .btm-nav-home-t3F .group-84-awf .auto-group-adu9-jpZ .btn-content-cG5 .content-dS5 {
  margin-right: 0.3rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-E61 .btm-nav-home-t3F .group-84-awf .crnt-home-MN5 {
  box-sizing: border-box;
  padding: 1.593rem 1.689rem 1.593rem 1.595rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse.png');
  flex-shrink: 0;
}
.dashboard-E61 .btm-nav-home-t3F .group-84-awf .crnt-home-MN5 .solar-shield-bold-6Kf {
  width: 3.3108rem;
  height: 3.3826rem;
  object-fit: contain;
  vertical-align: top;
}
.dashboard-E61 .btm-nav-home-t3F .group-84-awf .auto-group-g8qu-pFf {
  box-sizing: border-box;
  padding: 0.754rem 0rem 0.754rem 2.27rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.dashboard-E61 .btm-nav-home-t3F .group-84-awf .auto-group-g8qu-pFf .btn-locator-XQy {
  margin-right: 2.3783rem;
  box-sizing: border-box;
  padding: 0.471rem 0.108rem 0.085rem 0.108rem;
  width: 3.7838rem;
  height: 100%;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.dashboard-E61 .btm-nav-home-t3F .group-84-awf .auto-group-g8qu-pFf .btn-locator-XQy .majesticons-map-marker-area-line-2sX {
  margin: 0rem 0rem 0.579rem 0rem;
  width: 2.5225rem;
  height: 2.8269rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-E61 .btm-nav-home-t3F .group-84-awf .auto-group-g8qu-pFf .btn-locator-XQy .locator-M97 {
  margin-right: 0.1676rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-E61 .btm-nav-home-t3F .group-84-awf .auto-group-g8qu-pFf .btn-sched-t93 {
  box-sizing: border-box;
  padding: 0.314rem 0rem 0.077rem 0rem;
  width: 4.973rem;
  height: 100%;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.dashboard-E61 .btm-nav-home-t3F .group-84-awf .auto-group-g8qu-pFf .btn-sched-t93 .akar-icons-schedule-QNH {
  margin: 0rem 0rem 0.529rem 0.108rem;
  width: 3.1531rem;
  height: 3.141rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-E61 .btm-nav-home-t3F .group-84-awf .auto-group-g8qu-pFf .btn-sched-t93 .scheduling-jQZ {
  margin-right: 0.373rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
