
html {
	font-size:62.5%;
}

* {
	margin: 0;
	padding: 0;
}

ul, li {
	list-style: none;
}

input {
	border: none;
}

body {
  width: 144rem;
}

.parent-signup-web {
  box-sizing: border-box;
  padding: 4.6rem 50.5rem;
  width: 100%;
  height: 102.4rem;
  overflow: hidden;
  position: relative;
  background-color: #bfbaf8;
}

.parent-signup-web .parent-signup-form {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}

.parent-signup-web .parent-signup-form .header {
  width: 13rem;
  height: 3.5rem;
  position: absolute;
  left: 3.3rem;
  top: 8.7rem;
  display: flex;
  align-items: center;
}

.parent-signup-web .parent-signup-form .header .caret-left {
  margin-right: 1rem;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.parent-signup-web .parent-signup-form .header .lbl-sign {
  margin-bottom: 0.1rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.26;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.parent-signup-web .parent-signup-form .btn-sign {
  width: 36.5rem;
  height: 5.5rem;
  cursor: pointer;
  position: absolute;
  left: 3.3rem;
  top: 68.2rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #6c64c4;
  border-radius: 1rem;
}

.parent-signup-web .parent-signup-form .emp-name {
  width: 20.1rem;
  height: 1.5rem;
  position: absolute;
  left: 5.1rem;
  top: 24rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ff1e00;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}

.parent-signup-web .parent-signup-form .emp-pass {
  width: 23.7rem;
  height: 1.5rem;
  position: absolute;
  left: 5.1rem;
  top: 49.9rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ff1e00;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}

.parent-signup-web .parent-signup-form .emp-cpass {
  width: 30rem;
  height: 1.5rem;
  position: absolute;
  left: 5.1rem;
  top: 58.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ff1e00;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}

.parent-signup-web .parent-signup-form .emp-email {
  width: 20.2rem;
  height: 1.5rem;
  position: absolute;
  left: 5.1rem;
  top: 32.7rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ff1e00;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}

.parent-signup-web .parent-signup-form .emp-num {
  width: 26.9rem;
  height: 1.5rem;
  position: absolute;
  left: 5.1rem;
  top: 41.3rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ff1e00;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}

.parent-signup-web .parent-signup-form .tc {
  width: 32.9rem;
  height: 3.7rem;
  position: absolute;
  left: 5rem;
  top: 62.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.parent-signup-web .parent-signup-form .tc .cont {
  margin-bottom: 0.7rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.parent-signup-web .parent-signup-form .tc .cont .agree {
  margin-right: 0.1rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.171875;
  color: #000000;
  font-family: Book Antiqua, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}

.parent-signup-web .parent-signup-form .tc .cont .agree .agree-1 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
}

.parent-signup-web .parent-signup-form .tc .cont .cond {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #6c64c4;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.parent-signup-web .parent-signup-form .tc .privacy {
  margin: 0rem 3.6rem 0rem 5.6rem;
  width: calc(100% - 9.2rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.parent-signup-web .parent-signup-form .tc .privacy .policy {
  margin-right: 0.2rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #6c64c4;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.parent-signup-web .parent-signup-form .tc .privacy .and {
  margin-right: 0.3rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.parent-signup-web .parent-signup-form .tc .privacy .cookie {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #6c64c4;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.parent-signup-web .parent-signup-form .login {
  width: 22rem;
  height: 1.7rem;
  position: absolute;
  left: 10.5rem;
  top: 87.1rem;
  display: flex;
  align-items: center;
}

.parent-signup-web .parent-signup-form .login .acct {
  margin: 0.1rem 0.5rem 0rem 0rem;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.parent-signup-web .parent-signup-form .login .lnk-log {
  margin-bottom: 0.1rem;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #6c64c4;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.parent-signup-web .parent-signup-form .name {
  width: 34rem;
  height: 0;
  position: absolute;
  left: 3.4rem;
  top: 19rem;
  object-fit: contain;
  vertical-align: top;
}

.parent-signup-web .parent-signup-form .email {
  width: 34rem;
  height: 0;
  position: absolute;
  left: 3.4rem;
  top: 27.7rem;
  object-fit: contain;
  vertical-align: top;
}

.parent-signup-web .parent-signup-form .num {
  width: 34rem;
  height: 0;
  position: absolute;
  left: 3.4rem;
  top: 36.3rem;
  object-fit: contain;
  vertical-align: top;
}

.parent-signup-web .parent-signup-form .pass {
  width: 34rem;
  height: 0;
  position: absolute;
  left: 3.4rem;
  top: 45rem;
  object-fit: contain;
  vertical-align: top;
}

.parent-signup-web .parent-signup-form .cpass {
  width: 34rem;
  height: 0;
  position: absolute;
  left: 3.4rem;
  top: 53.7rem;
  object-fit: contain;
  vertical-align: top;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
}

.input-container input[type="text"] {
  padding: 10px;
  font-size: 16px;
  width: 100%; /* Adjust width as needed */
  position: relative;
  border: 1px solid #ccc;
  border-radius: 15px;
  outline: none;
  background-color: transparent;
  transition: 0.2s ease all;
}

.input-container input[type="text"]::placeholder {
  color: #aaa; /* Default placeholder color */
  position: absolute;
  top: -25px;
  left: 5px;
  font-size: 12px;
  transition: transform 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

.input-container label {
  position: absolute;
  top: 0;
  left: 10px;
  padding: 10px;
  font-size: 16px;
  color: #aaa;
  pointer-events: none;
  transition: 0.2s ease all;
}

.input-container input[type="text"]:focus + label,
.input-container input[type="text"]:not(:placeholder-shown) + label {
  top: -25px;
  left: 5px;
  font-size: 12px;
  color: #6c64c4;
}

.input-container input[type="text"]:focus {
  border-color: #6c64c4;
  background-color: #fff;
}

.input-container input[type="text"]:focus::placeholder {
  color: #aaa;
  transform: translateY(-100%);
  font-size: 12px;
  transition: transform 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

.input-container input[type="text"],
.input-container label,
.input-container input[type="text"]::placeholder {
  font-family: Montserrat, 'Source Sans Pro', sans-serif;
}

.parent-signup-web .parent-signup-form .pass,
.parent-signup-web .parent-signup-form .cpass {
  width: 34rem;
  height: 0;
  position: absolute;
  left: 3.4rem;
  object-fit: contain;
  vertical-align: top;
}

.parent-signup-web .parent-signup-form .pass input[type="password"],
.parent-signup-web .parent-signup-form .cpass input[type="password"] {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 15px;
  outline: none;
  background-color: transparent;
  transition: 0.2s ease all;
}

.parent-signup-web .parent-signup-form .pass input[type="password"]::placeholder,
.parent-signup-web .parent-signup-form .cpass input[type="password"]::placeholder {
  color: #aaa;
  position: absolute;
  top: -25px;
  left: 5px;
  font-size: 12px;
  transition: transform 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

.parent-signup-web .parent-signup-form .pass label,
.parent-signup-web .parent-signup-form .cpass label {
  position: absolute;
  top: 0;
  left: 10px;
  padding: 10px;
  font-size: 16px;
  color: #aaa;
  pointer-events: none;
  transition: 0.2s ease all;
}

.parent-signup-web .parent-signup-form .pass input[type="password"]:focus + label,
.parent-signup-web .parent-signup-form .cpass input[type="password"]:focus + label,
.parent-signup-web .parent-signup-form .pass input[type="password"]:not(:placeholder-shown) + label,
.parent-signup-web .parent-signup-form .cpass input[type="password"]:not(:placeholder-shown) + label {
  top: -25px;
  left: 5px;
  font-size: 12px;
  color: #6c64c4;
}

.emp-name,
.emp-email,
.emp-num,
.emp-pass,
.emp-cpass {
  display: none; /* Initially hide error messages */
}