
html {
	font-size:62.5%;
}

* {
	margin: 0;
	padding: 0;
}

ul, li {
	list-style: none;
}

input {
	border: none;
}

body {
  width: 144rem;
}

.parent-login-web {
  box-sizing: border-box;
  padding: 4.6rem 50.5rem;
  width: 100%;
  height: 102.4rem;
  overflow: hidden;
  position: relative;
  background-color: #c0baf9;
}

.parent-login-web .parent-login-form {
  box-sizing: border-box;
  padding-top: 8.7rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.parent-login-web .parent-login-form .header {
  margin: 0rem 27.7rem 2.1rem 3.3rem;
  width: calc(100% - 31rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.parent-login-web .parent-login-form .header .caret-left {
  margin-right: 1rem;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.parent-login-web .parent-login-form .header .lbl-par {
  margin-bottom: 0.1rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.26;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.parent-login-web .parent-login-form .img {
  margin-bottom: 16.1rem;
  width: 43rem;
  height: 29.5rem;
  position: relative;
  background-size: 104.434% 167.224%;
  background-position: 0.0852rem -9.1756rem;
  background-image: url('../assets/family-cuate-1-vuB.png');
  flex-shrink: 0;
}

.parent-login-web .parent-login-form .form {
  width: 100%;
  height: 33.3rem;
  position: relative;
  flex-shrink: 0;
}

.parent-login-web .parent-login-form .form .btn-log {
  width: 36.5rem;
  height: 5.5rem;
  cursor: pointer;
  position: absolute;
  left: 3.2rem;
  top: 20.5rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #6c64c4;
  border-radius: 1rem;
}

.parent-login-web .parent-login-form .form .email-error {
  width: 25.6rem;
  height: 1.5rem;
  position: absolute;
  left: 4.3rem;
  top: 2.9rem;
}

.parent-login-web .parent-login-form .form .email-error .emp-email {
  width: 23.5rem;
  height: 1.5rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ff1e00;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}

.parent-login-web .parent-login-form .form .email-error .inc-email {
  width: 25.6rem;
  height: 1.5rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ff1e00;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}

.parent-login-web .parent-login-form .form .pass-error {
  width: 25.8rem;
  height: 1.5rem;
  position: absolute;
  left: 4.1rem;
  top: 11.2rem;
}

.parent-login-web .parent-login-form .form .pass-error .emp-pass {
  width: 23.7rem;
  height: 1.5rem;
  position: absolute;
  left: 0.2rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ff1e00;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}

.parent-login-web .parent-login-form .form .pass-error .inc-pass {
  width: 25.8rem;
  height: 1.5rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ff1e00;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}

.parent-login-web .parent-login-form .form .lnk-forgot {
  width: 11rem;
  height: 1.5rem;
  cursor: pointer;
  position: absolute;
  left: 28.7rem;
  top: 13.9rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #6c64c4;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}

.parent-login-web .parent-login-form .email {
  width: 34rem;
  height: 0;
  position: absolute;
  left: 3.2rem;
  top: -2rem;
  object-fit: contain;
  vertical-align: top;
}

.parent-login-web .parent-login-form .form .pass {
  width: 34rem;
  height: 0;
  position: absolute;
  left: 3.2rem;
  top: 6rem;
  object-fit: contain;
  vertical-align: top;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
}

.input-container input[type="text"] {
  padding: 10px;
  font-size: 16px;
  width: 100%; /* Adjust width as needed */
  position: relative;
  border: 1px solid #ccc;
  border-radius: 15px;
  outline: none;
  background-color: transparent;
  transition: 0.2s ease all;
}

.input-container input[type="text"]::placeholder {
  color: #aaa; /* Default placeholder color */
  position: absolute;
  top: -25px;
  left: 5px;
  font-size: 12px;
  transition: transform 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

.input-container label {
  position: absolute;
  top: 0;
  left: 10px;
  padding: 10px;
  font-size: 16px;
  color: #aaa;
  pointer-events: none;
  transition: 0.2s ease all;
}

.input-container input[type="text"]:focus + label,
.input-container input[type="text"]:not(:placeholder-shown) + label {
  top: -25px;
  left: 5px;
  font-size: 12px;
  color: #6c64c4;
}

.input-container input[type="text"]:focus {
  border-color: #6c64c4;
  background-color: #fff;
}

.input-container input[type="text"]:focus::placeholder {
  color: #aaa;
  transform: translateY(-100%);
  font-size: 12px;
  transition: transform 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

.input-container input[type="text"],
.input-container label,
.input-container input[type="text"]::placeholder {
  font-family: Montserrat, 'Source Sans Pro', sans-serif;
}

.parent-login-web .parent-login-form .form .pass input[type="password"] {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 15px;
  outline: none;
  background-color: transparent;
  transition: 0.2s ease all;
}

.parent-login-web .parent-login-form .form .pass input[type="password"]::placeholder {
  color: #aaa;
  position: absolute;
  top: -25px;
  left: 5px;
  font-size: 12px;
  transition: transform 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

.parent-login-web .parent-login-form .form .pass label {
  position: absolute;
  top: 0;
  left: 10px;
  padding: 10px;
  font-size: 16px;
  color: #aaa;
  pointer-events: none;
  transition: 0.2s ease all;
}

.parent-login-web .parent-login-form .form .pass input[type="password"]:focus + label,
.parent-login-web .parent-login-form .form .pass input[type="password"]:not(:placeholder-shown) + label {
  top: -25px;
  left: 5px;
  font-size: 12px;
  color: #6c64c4;
}

.parent-login-web .parent-login-form .form .pass input[type="password"]:focus {
  border-color: #6c64c4;
  background-color: #fff;
}

.parent-login-web .parent-login-form .form .pass input[type="password"]:focus::placeholder {
  color: #aaa;
  transform: translateY(-100%);
  font-size: 12px;
  transition: transform 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

.parent-login-web .parent-login-form .form .pass input[type="password"],
.parent-login-web .parent-login-form .form .pass label,
.parent-login-web .parent-login-form .form .pass input[type="password"]::placeholder {
  font-family: Montserrat, 'Source Sans Pro', sans-serif;
}