
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 29.8rem;
}.parent-menu-keH {
  box-sizing: border-box;
  padding: 17rem 5.3rem 35.3rem 3.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0 2rem 2rem 0;
}
.parent-menu-keH .mom-menu-qfj {
  margin: 0rem 6rem 7rem 0rem;
  width: calc(100% - 6rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.parent-menu-keH .mom-menu-qfj .mom-pic-y1F {
  margin-right: 1.7rem;
  width: 9.5rem;
  height: 9.5rem;
  border: solid 0.2rem #6c64c4;
  box-sizing: border-box;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/mom-pic-bg.png');
  border-radius: 4.75rem;
  flex-shrink: 0;
}
.parent-menu-keH .mom-menu-qfj .mil-edB {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.26;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.parent-menu-keH .profile-ArR {
  margin: 0rem 10.4rem 2.1rem 0rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.26;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.parent-menu-keH .children-tGd {
  margin: 0rem 8.2rem 2.1rem 0rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.26;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.parent-menu-keH .parental-controls-16M {
  margin: 0rem 0rem 2.1rem 1.8rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.26;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.parent-menu-keH .reports-vDK {
  margin: 0rem 8.9rem 2.1rem 0rem;
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.26;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.parent-menu-keH .logout-DiD {
  margin-right: 9.7rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.26;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}


/* Initially hide the menu */
.parent-menu-6ds {
  display: none;
}

/* Show the menu when the 'show-menu' class is applied */
.parent-menu-6ds.show-menu {
  display: flex;
  flex-direction: column;
  /* Add any other styles for the displayed menu */
}
