
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.print-parent-list-eWh {
  box-sizing: border-box;
  padding: 4.6rem 50.5rem;
  width: 100%;
  height: 102.4rem;
  overflow: hidden;
  position: relative;
  background-color: #bfbaf8;
}
.print-parent-list-eWh .print-parent-list-av9 {
  box-sizing: border-box;
  padding: 5.7rem 2rem 0rem 2rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
}
.print-parent-list-eWh .print-parent-list-av9 .auto-group-ewxh-7QH {
  margin: 0rem 0.6rem 5rem 1.3rem;
  width: calc(100% - 1.9rem);
  height: 4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.print-parent-list-eWh .print-parent-list-av9 .auto-group-ewxh-7QH .share-menu-2XF {
  margin: 0.6rem 23.5rem 0.7rem 0rem;
  height: calc(100% - 1.3rem);
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.print-parent-list-eWh .print-parent-list-av9 .auto-group-ewxh-7QH .share-menu-2XF .vector-jwT {
  margin-right: 1.5rem;
  width: 1.8rem;
  height: 2.7rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.print-parent-list-eWh .print-parent-list-av9 .auto-group-ewxh-7QH .share-menu-2XF .vector-5Ed {
  margin-right: 1.3rem;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.print-parent-list-eWh .print-parent-list-av9 .auto-group-ewxh-7QH .share-menu-2XF .vector-RJV {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.print-parent-list-eWh .print-parent-list-av9 .auto-group-ewxh-7QH .ph-x-bold-xpD {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.print-parent-list-eWh .print-parent-list-av9 .parent-list-print-format-i2h {
  box-sizing: border-box;
  padding: 4.7rem 2.6rem 16.7rem 2.7rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #fffefe;
  flex-shrink: 0;
}
.print-parent-list-eWh .print-parent-list-av9 .parent-list-print-format-i2h .parent-list-q7K {
  margin: 0rem 0.5rem 1.9rem 0rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.print-parent-list-eWh .print-parent-list-av9 .parent-list-print-format-i2h .vector-wg9 {
  width: 33.7rem;
  height: 54.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
