
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.social-media-activities-LWq {
  box-sizing: border-box;
  padding: 4.6rem 50.5rem;
  width: 100%;
  height: 102.4rem;
  overflow: hidden;
  position: relative;
  background-color: #bfbaf8;
}
.social-media-activities-LWq .social-media-GfP {
  box-sizing: border-box;
  padding: 10.9rem 3.013rem 14.7rem 3.2rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.social-media-activities-LWq .social-media-GfP .auto-group-xrem-NCd {
  margin: 0rem 1.188rem 3.3rem 0.2rem;
  width: calc(100% - 1.3875rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.social-media-activities-LWq .social-media-GfP .auto-group-xrem-NCd .social-media-68d {
  margin-right: 17.3rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.26;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.social-media-activities-LWq .social-media-GfP .auto-group-xrem-NCd .ph-x-bold-ccm {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.social-media-activities-LWq .social-media-GfP .name-xRj {
  margin: 0rem 32.888rem 3.8rem 0rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2175;
  color: rgba(0, 0, 0, 0.5);
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.social-media-activities-LWq .social-media-GfP .auto-group-aiz9-GSR {
  margin: 0rem 0.1rem 6rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.social-media-activities-LWq .social-media-GfP .auto-group-aiz9-GSR .child-pic-QYd {
  margin-right: 1.9rem;
  width: 7.4rem;
  height: 7.4rem;
  border: solid 0.3rem #6c64c4;
  box-sizing: border-box;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/child-pic.png');
  border-radius: 3.7rem;
  flex-shrink: 0;
}
.social-media-activities-LWq .social-media-GfP .auto-group-aiz9-GSR .name-VKB {
  margin: 4.1rem 11.7rem 0rem 0rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2175;
  color: rgba(0, 0, 0, 0.5);
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.social-media-activities-LWq .social-media-GfP .auto-group-aiz9-GSR .group-7bT {
  margin-bottom: 1.6375rem;
  width: 0.1875rem;
  height: 1.5625rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.social-media-activities-LWq .social-media-GfP .name-Std {
  margin: 0rem 23.188rem 1.5rem 0rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2175;
  color: rgba(0, 0, 0, 0.5);
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.social-media-activities-LWq .social-media-GfP .auto-group-ccpd-y7s {
  margin: 0rem 0.2rem 4.12rem 0rem;
  width: calc(100% - 0.2rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.social-media-activities-LWq .social-media-GfP .auto-group-ccpd-y7s .child-pic-hZf {
  margin-right: 1.9rem;
  width: 7.4rem;
  height: 7.4rem;
  border: solid 0.3rem #6c64c4;
  box-sizing: border-box;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/child-pic.png');
  border-radius: 3.7rem;
  flex-shrink: 0;
}
.social-media-activities-LWq .social-media-GfP .auto-group-ccpd-y7s .auto-group-jj8z-CWR {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.social-media-activities-LWq .social-media-GfP .auto-group-ccpd-y7s .auto-group-jj8z-CWR .email-YaH {
  margin: 0rem 0.088rem 0.1rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.social-media-activities-LWq .social-media-GfP .auto-group-ccpd-y7s .auto-group-jj8z-CWR .group-4Yd {
  margin-bottom: 1.1375rem;
  width: 0.1875rem;
  height: 1.5625rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.social-media-activities-LWq .social-media-GfP .auto-group-ccpd-y7s .auto-group-jj8z-CWR .name-1Cy {
  margin-right: 16.2875rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2175;
  color: rgba(0, 0, 0, 0.5);
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.social-media-activities-LWq .social-media-GfP .ph-caret-down-bold-8Hb {
  margin: 0rem 0.188rem 4.564rem 0rem;
  width: 2.4445rem;
  height: 1.0162rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.social-media-activities-LWq .social-media-GfP .name-TKs {
  margin: 0rem 22.288rem 1.2rem 0rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2175;
  color: rgba(0, 0, 0, 0.5);
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.social-media-activities-LWq .social-media-GfP .auto-group-zci9-PDX {
  margin: 0rem 0rem 2.8rem 0.2rem;
  width: calc(100% - 0.2rem);
  height: 7.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.social-media-activities-LWq .social-media-GfP .auto-group-zci9-PDX .child-pic-WJ9 {
  width: 7.4rem;
  height: 7.4rem;
  border: solid 0.3rem #6c64c4;
  box-sizing: border-box;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/child-pic.png');
  border-radius: 3.7rem;
  flex-shrink: 0;
}
.social-media-activities-LWq .social-media-GfP .auto-group-zci9-PDX .auto-group-uhjv-d7s {
  box-sizing: border-box;
  padding-left: 1.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.social-media-activities-LWq .social-media-GfP .auto-group-zci9-PDX .auto-group-uhjv-d7s .auto-group-h9tb-B9P {
  margin: 0rem 5.8rem 0.7rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.social-media-activities-LWq .social-media-GfP .auto-group-zci9-PDX .auto-group-uhjv-d7s .auto-group-h9tb-B9P .email-6n9 {
  margin-bottom: 0.9rem;
  max-width: 21.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.social-media-activities-LWq .social-media-GfP .auto-group-zci9-PDX .auto-group-uhjv-d7s .auto-group-h9tb-B9P .name-RpR {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2175;
  color: rgba(0, 0, 0, 0.5);
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.social-media-activities-LWq .social-media-GfP .auto-group-zci9-PDX .auto-group-uhjv-d7s .group-NDs {
  margin-bottom: 1.6375rem;
  width: 0.1875rem;
  height: 1.5625rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.social-media-activities-LWq .social-media-GfP .auto-group-wm3t-Hbj {
  margin-left: 0.2rem;
  width: calc(100% - 0.2rem);
  height: 7.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.social-media-activities-LWq .social-media-GfP .auto-group-wm3t-Hbj .child-pic-DkH {
  width: 7.4rem;
  height: 7.4rem;
  border: solid 0.3rem #6c64c4;
  box-sizing: border-box;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/child-pic.png');
  border-radius: 3.7rem;
  flex-shrink: 0;
}
.social-media-activities-LWq .social-media-GfP .auto-group-wm3t-Hbj .auto-group-loam-8MT {
  box-sizing: border-box;
  padding-left: 1.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.social-media-activities-LWq .social-media-GfP .auto-group-wm3t-Hbj .auto-group-loam-8MT .auto-group-ofux-GyT {
  margin: 0rem 4.2rem 0.7rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.social-media-activities-LWq .social-media-GfP .auto-group-wm3t-Hbj .auto-group-loam-8MT .auto-group-ofux-GyT .email-cnR {
  margin-bottom: 0.9rem;
  max-width: 22.9rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.social-media-activities-LWq .social-media-GfP .auto-group-wm3t-Hbj .auto-group-loam-8MT .auto-group-ofux-GyT .name-ZBs {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2175;
  color: rgba(0, 0, 0, 0.5);
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.social-media-activities-LWq .social-media-GfP .auto-group-wm3t-Hbj .auto-group-loam-8MT .group-6Sh {
  margin-bottom: 1.6375rem;
  width: 0.1875rem;
  height: 1.5625rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
