
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.social-media-nbF {
  box-sizing: border-box;
  padding: 4.6rem 50.5rem;
  width: 100%;
  height: 102.4rem;
  overflow: hidden;
  position: relative;
  background-color: #c0baf9;
}
.social-media-nbF .social-media-JpV {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.social-media-nbF .social-media-JpV .inside-sm-rr1 {
  width: 35.6rem;
  height: 37.7rem;
  position: absolute;
  left: 3.7rem;
  top: 34.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.social-media-nbF .social-media-JpV .inside-sm-rr1 .sm-an1 {
  margin-bottom: 7.7rem;
  width: 100%;
  row-gap: 2.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .inside-sm-rr1 .sm-an1 .sm1-7mw {
  box-sizing: border-box;
  padding: 2.1rem 3rem 1.9rem 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .inside-sm-rr1 .sm-an1 .sm1-7mw .facebook-monitor-F7T {
  margin: 0.9rem 13.1rem 0rem 0rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .inside-sm-rr1 .sm-an1 .sm1-7mw .checkbox-YMT {
  margin-bottom: 0.1rem;
  width: 2.8rem;
  height: 2.7rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .inside-sm-rr1 .sm-an1 .sm3-cMK {
  box-sizing: border-box;
  padding: 2.1rem 3rem 1.9rem 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .inside-sm-rr1 .sm-an1 .sm3-cMK .instagram-monitor-w8h {
  margin: 0.9rem 12.7rem 0rem 0rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .inside-sm-rr1 .sm-an1 .sm3-cMK .checkbox-qzm {
  margin-bottom: 0.1rem;
  width: 2.8rem;
  height: 2.7rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .inside-sm-rr1 .sm-an1 .sm2-Xch {
  box-sizing: border-box;
  padding: 2.1rem 3rem 1.9rem 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .inside-sm-rr1 .sm-an1 .sm2-Xch .snapchat-monitor-4sX {
  margin: 0.9rem 13.3rem 0rem 0rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .inside-sm-rr1 .sm-an1 .sm2-Xch .checkbox-bMf {
  margin-bottom: 0.1rem;
  width: 2.8rem;
  height: 2.7rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .inside-sm-rr1 .icons8-add-50-1-S7P {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .swipeable-edge-container-Yw7 {
  box-sizing: border-box;
  padding-top: 77.2rem;
  width: 43rem;
  height: 93.2rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.social-media-nbF .social-media-JpV .swipeable-edge-container-Yw7 .swipeable-edge-rgu {
  box-sizing: border-box;
  padding: 1.7rem 15.7rem 22.3rem 16.5rem;
  width: 100%;
  height: 52.1rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 -1.2rem 4.4rem rgba(0, 0, 0, 0.1199999973);
  background-color: #ffffff;
  border-radius: 2.4rem 2.4rem 0 0;
}
.social-media-nbF .social-media-JpV .swipeable-edge-container-Yw7 .swipeable-edge-rgu .rectangle-72-8eR {
  margin: 0rem 1.7rem 4.9rem 0.8rem;
  width: calc(100% - 2.5rem);
  height: 0.6rem;
  background-color: rgba(0, 0, 0, 0.400000006);
  border-radius: 1rem;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .swipeable-edge-container-Yw7 .swipeable-edge-rgu .activity-timeline-CuB {
  margin-bottom: 3.7rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #6c64c4;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .swipeable-edge-container-Yw7 .swipeable-edge-rgu .alerts-0-isX {
  margin-bottom: 14.4rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #6c64c4;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .swipeable-edge-container-Yw7 .swipeable-edge-rgu .no-activity-found-3uo {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #6c64c4;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .swipeable-top-container-Xa5 {
  width: 43rem;
  height: 91.7rem;
  position: absolute;
  left: 0;
  top: 0;
}
.social-media-nbF .social-media-JpV .swipeable-top-container-Xa5 .bg-55o {
  width: 43rem;
  height: 35.5rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 56.2rem;
  background-color: rgba(0, 0, 0, 0.200000003);
}
.social-media-nbF .social-media-JpV .swipeable-top-container-Xa5 .swipeable-top-ziZ {
  box-sizing: border-box;
  padding: 7.2rem 4.2rem 2.6rem 4.2rem;
  width: 43rem;
  height: 61rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: -1.2rem 0 4.4rem rgba(0, 0, 0, 0.1199999973);
  background-color: #ffffff;
  border-radius: 0 0 2.4rem 2.4rem;
}
.social-media-nbF .social-media-JpV .swipeable-top-container-Xa5 .swipeable-top-ziZ .top-interface-uKj {
  margin-bottom: 11.2rem;
  box-sizing: border-box;
  padding-top: 0.3333rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .swipeable-top-container-Xa5 .swipeable-top-ziZ .top-interface-uKj .auto-group-c3zf-dmX {
  margin: 0rem 0.5rem 3.1rem 0rem;
  box-sizing: border-box;
  padding-top: 0.4667rem;
  width: 34.1rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.26;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .swipeable-top-container-Xa5 .swipeable-top-ziZ .top-interface-uKj .auto-group-cn13-hmP {
  margin: 0rem 5.8rem 1.8rem 0rem;
  width: calc(100% - 5.8rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .swipeable-top-container-Xa5 .swipeable-top-ziZ .top-interface-uKj .auto-group-cn13-hmP .child-pic-Djj {
  margin-right: 3.9749rem;
  width: 9.5251rem;
  height: 9.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .swipeable-top-container-Xa5 .swipeable-top-ziZ .top-interface-uKj .auto-group-cn13-hmP .auto-group-bv7f-xBX {
  margin-bottom: 0.1rem;
  width: 15.3rem;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .swipeable-top-container-Xa5 .swipeable-top-ziZ .top-interface-uKj .auto-group-cn13-hmP .auto-group-bv7f-xBX .btn-call-tqs {
  margin: 0rem 5.1rem 2rem 0rem;
  box-sizing: border-box;
  padding: 0.25rem 0rem 0.25rem 0.251rem;
  width: calc(100% - 5.1rem);
  cursor: pointer;
  display: flex;
  align-items: center;
}
.social-media-nbF .social-media-JpV .swipeable-top-container-Xa5 .swipeable-top-ziZ .top-interface-uKj .auto-group-cn13-hmP .auto-group-bv7f-xBX .btn-call-tqs .ion-call-Cbf {
  margin-right: 3.3499rem;
  width: 3.4993rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .swipeable-top-container-Xa5 .swipeable-top-ziZ .top-interface-uKj .auto-group-cn13-hmP .auto-group-bv7f-xBX .btn-call-tqs .call-wp9 {
  margin-top: 0.2999rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.26;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .swipeable-top-container-Xa5 .swipeable-top-ziZ .top-interface-uKj .auto-group-cn13-hmP .auto-group-bv7f-xBX .btn-vcall-59f {
  box-sizing: border-box;
  padding: 0.75rem 0rem 0.75rem 0.25rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.social-media-nbF .social-media-JpV .swipeable-top-container-Xa5 .swipeable-top-ziZ .top-interface-uKj .auto-group-cn13-hmP .auto-group-bv7f-xBX .btn-vcall-59f .carbon-video-filled-1p1 {
  margin-right: 3.35rem;
  width: 3.5rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .swipeable-top-container-Xa5 .swipeable-top-ziZ .top-interface-uKj .auto-group-cn13-hmP .auto-group-bv7f-xBX .btn-vcall-59f .video-call-9QR {
  margin-top: 0.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.26;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .swipeable-top-container-Xa5 .swipeable-top-ziZ .top-interface-uKj .auto-group-wkc5-53B {
  margin: 0rem 10rem 1.5rem 2.3rem;
  width: calc(100% - 12.3rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .swipeable-top-container-Xa5 .swipeable-top-ziZ .top-interface-uKj .auto-group-wkc5-53B .name-zvq {
  margin-right: 6.4rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .swipeable-top-container-Xa5 .swipeable-top-ziZ .top-interface-uKj .auto-group-wkc5-53B .btn-chat-Xvm {
  margin-top: 0.1rem;
  box-sizing: border-box;
  padding: 0.75rem 0rem 0.25rem 0.375rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .swipeable-top-container-Xa5 .swipeable-top-ziZ .top-interface-uKj .auto-group-wkc5-53B .btn-chat-Xvm .ph-chat-fill-4Qu {
  margin-right: 3.475rem;
  width: 3.25rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .swipeable-top-container-Xa5 .swipeable-top-ziZ .top-interface-uKj .auto-group-wkc5-53B .btn-chat-Xvm .chat-zpM {
  margin-bottom: 0.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.26;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .swipeable-top-container-Xa5 .swipeable-top-ziZ .top-interface-uKj .details-iEZ {
  margin: 0rem 0rem 8.1rem 8.3rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2175;
  font-style: italic;
  color: #fb6e5b;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .swipeable-top-container-Xa5 .swipeable-top-ziZ .top-interface-uKj .auto-group-tgar-Dx1 {
  margin: 0rem 0.5rem 0rem 0.3rem;
  width: calc(100% - 0.8rem);
  height: 4.8rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .swipeable-top-container-Xa5 .swipeable-top-ziZ .top-interface-uKj .auto-group-tgar-Dx1 .loc-jvM {
  margin-right: 2rem;
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .swipeable-top-container-Xa5 .swipeable-top-ziZ .top-interface-uKj .auto-group-tgar-Dx1 .auto-group-g1h7-4xd {
  margin-right: 2.3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .swipeable-top-container-Xa5 .swipeable-top-ziZ .top-interface-uKj .auto-group-tgar-Dx1 .auto-group-g1h7-4xd .pajo-lapu-lapu-city-cebu-ovD {
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.26;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .swipeable-top-container-Xa5 .swipeable-top-ziZ .top-interface-uKj .auto-group-tgar-Dx1 .auto-group-g1h7-4xd .phone-bat-j3B {
  box-sizing: border-box;
  padding-top: 0.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .swipeable-top-container-Xa5 .swipeable-top-ziZ .top-interface-uKj .auto-group-tgar-Dx1 .auto-group-g1h7-4xd .phone-bat-j3B .details-zE1 {
  margin-right: 1.2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2175;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .swipeable-top-container-Xa5 .swipeable-top-ziZ .top-interface-uKj .auto-group-tgar-Dx1 .auto-group-g1h7-4xd .phone-bat-j3B .fluent-battery-3-20-filled-Kn5 {
  margin: 0rem 1.1rem 0.1rem 0rem;
  width: 1.6rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .swipeable-top-container-Xa5 .swipeable-top-ziZ .top-interface-uKj .auto-group-tgar-Dx1 .auto-group-g1h7-4xd .phone-bat-j3B .details-r1K {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2175;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .swipeable-top-container-Xa5 .swipeable-top-ziZ .top-interface-uKj .auto-group-tgar-Dx1 .subway-refresh-time-B3b {
  margin-top: 0.3rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .swipeable-top-container-Xa5 .swipeable-top-ziZ .rectangle-72-7C9 {
  margin: 0rem 13.2rem 0rem 13.1rem;
  width: calc(100% - 26.3rem);
  height: 0.6rem;
  background-color: rgba(0, 0, 0, 0.400000006);
  border-radius: 1rem;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .btm-nav-sms-yEM {
  box-sizing: border-box;
  padding: 0rem 2.919rem 0rem 2.378rem;
  width: 40rem;
  height: 7rem;
  position: absolute;
  left: 1.4rem;
  top: 84.4rem;
  background-color: #ffffff;
  border-radius: 3.05rem;
  box-shadow: 0.3rem 0.5rem 0.4rem rgba(0, 0, 0, 0.25);
}
.social-media-nbF .social-media-JpV .btm-nav-sms-yEM .group-85-t6R {
  width: 100%;
  height: 6.5692rem;
  display: flex;
  align-items: center;
}
.social-media-nbF .social-media-JpV .btm-nav-sms-yEM .group-85-t6R .crnt-sms-1wj {
  box-sizing: border-box;
  padding: 0.969rem 0.954rem 0.615rem 0.541rem;
  width: 6.5946rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse.png');
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .btm-nav-sms-yEM .group-85-t6R .crnt-sms-1wj .prbtn-sms-jsj {
  box-sizing: border-box;
  padding-top: 0.4712rem;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.social-media-nbF .social-media-JpV .btm-nav-sms-yEM .group-85-t6R .crnt-sms-1wj .prbtn-sms-jsj .fluent-people-team-24-filled-gY5 {
  margin: 0rem 0rem 0.687rem 0.413rem;
  width: 3.1531rem;
  height: 2.8269rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .btm-nav-sms-yEM .group-85-t6R .crnt-sms-1wj .prbtn-sms-jsj .social-media-o6u {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .btm-nav-sms-yEM .group-85-t6R .auto-group-ducd-JJZ {
  box-sizing: border-box;
  padding: 0.969rem 0rem 0.215rem 1.622rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .btm-nav-sms-yEM .group-85-t6R .auto-group-ducd-JJZ .btn-content-dLq {
  margin: 0rem 3.973rem 0.323rem 0rem;
  box-sizing: border-box;
  padding: 0.459rem 0rem 0.085rem 0rem;
  width: 4rem;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .btm-nav-sms-yEM .group-85-t6R .auto-group-ducd-JJZ .btn-content-dLq .material-symbols-play-shapes-rounded-LW9 {
  margin: 0rem 0.049rem 0.579rem 0rem;
  width: 2.8867rem;
  height: 2.8387rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .btm-nav-sms-yEM .group-85-t6R .auto-group-ducd-JJZ .btn-content-dLq .content-Sp5 {
  margin-right: 0.3rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .btm-nav-sms-yEM .group-85-t6R .auto-group-ducd-JJZ .solar-shield-bold-Nhj {
  margin: 0rem 4.068rem 0.323rem 0rem;
  width: 3.3108rem;
  height: 3.3826rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .btm-nav-sms-yEM .group-85-t6R .auto-group-ducd-JJZ .btn-locator-J5b {
  margin: 0.323rem 2.378rem 0rem 0rem;
  box-sizing: border-box;
  padding: 0.471rem 0.108rem 0.085rem 0.108rem;
  width: 3.7838rem;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .btm-nav-sms-yEM .group-85-t6R .auto-group-ducd-JJZ .btn-locator-J5b .majesticons-map-marker-area-line-Cgm {
  margin: 0rem 0rem 0.579rem 0rem;
  width: 2.5226rem;
  height: 2.8269rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .btm-nav-sms-yEM .group-85-t6R .auto-group-ducd-JJZ .btn-locator-J5b .locator-8KX {
  margin-right: 0.1676rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .btm-nav-sms-yEM .group-85-t6R .auto-group-ducd-JJZ .btn-sched-3hP {
  margin-bottom: 0.3231rem;
  box-sizing: border-box;
  padding: 0.314rem 0rem 0.077rem 0rem;
  width: 4.9729rem;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .btm-nav-sms-yEM .group-85-t6R .auto-group-ducd-JJZ .btn-sched-3hP .akar-icons-schedule-An1 {
  margin: 0rem 0rem 0.529rem 0.108rem;
  width: 3.1531rem;
  height: 3.141rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.social-media-nbF .social-media-JpV .btm-nav-sms-yEM .group-85-t6R .auto-group-ducd-JJZ .btn-sched-3hP .scheduling-gEZ {
  margin-right: 0.3729rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.rectangle-72-8eR {
  z-index: 3;
}