
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.printing-HPB {
  box-sizing: border-box;
  padding: 4.6rem 50.5rem;
  width: 100%;
  height: 102.4rem;
  overflow: hidden;
  position: relative;
  background-color: #c0baf9;
}
.printing-HPB .printing-oVw {
  box-sizing: border-box;
  padding: 16.828rem 1.134rem 17.517rem 1.218rem;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.printing-HPB .printing-oVw .question-baD {
  margin-bottom: 7.9516rem;
  width: 40.6478rem;
  height: 49.004rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.printing-HPB .printing-oVw .printing-in-progress--tZK {
  margin-right: 0.0841rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
